## Copyright (c) 2007, Custom Space Usergroups Manager Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space Usergroups Manager Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Ren Provey
## @author Gary S. Weaver

			<!-- start bulk-edit -->

<script type="text/javascript">
function validateBulkChecked( thisfield )
{
    var valid = false;
    for ( var i = 0; i < thisfield.length; i++ )
    {
       if ( thisfield[i].checked ) {
           valid = true;
       }
    }

    return valid;
}

function validateBulkForm( thisform )
{
    var valid = true;

    if ( validateBulkChecked( document.bulkedit.adminAction ) )
    {
        alert ( "Please choose an action" );
        valid = false;
    }
    else if ( document.bulkedit.users.value == null || document.bulkedit.users.value == "" ) {
        alert ( "Please specify users" );
        valid = false;
    }
    else if ( validateBulkChecked( document.bulkedit.groups ) )
    {
        alert ( "Please choose one or more groups" );
        valid = false;
    }

    return valid;
}
</script>


			<div class="sectionHeader">
				<h2>$action.getText("bulkedit.section.title")</h2>
				<a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)">&laquo; $action.getText("normalView.link.title")</a>
			</div>

            #set ($allGroups = $action.allGroups)
            #if($allGroups && $allGroups.size() > 0)
			<form id="bulkEdit" onsubmit="return validateBulkForm(this)" action="docustompermissionsmanage.action">
				<fieldset>
                    <input type="hidden" name="bulkEdit" value="1"/>
				    <input type="hidden" name="key" value="$generalUtil.doubleUrlEncode($key)"/>
					<label>1. $action.getText("bulkedit.form.label.actionTitle"):</label>
					<input type="radio" value="addUsersToGroups" name="adminAction"></input> $action.getText("bulkedit.form.radio.addUser.text")<br />
					<input type="radio" value="removeUsersFromGroups" name="adminAction"></input> $action.getText("bulkedit.form.radio.removeUser.text")
					<br />

					<label>2. $action.getText("bulkedit.form.label.userInputTitle"):</label>
					<input type="text" style="width:100%;" id="users" name="users"></input>
					<br />
					<ul class="formHelp">
						<li>$action.getText("form.example.commaSeparatedUsernames.text")</li>
						<li>$action.getText("form.example.commaSeparatedUsernames")</li>
					</ul>

					<label>3. $action.getText("bulkedit.form.label.selectGroupsTitle"):</label>
                    <ul>
                    #foreach ($group in $allGroups)
                        <li>
                            <input type="checkbox" id="groups" name="groups" value="$!group.name"> $generalUtil.htmlEncode($!group.name)</input> (<a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($group.name)">Edit $generalUtil.htmlEncode($!group.name)</a>)
                        </li>
                    #end
                    </ul>

					<label>4. $action.getText("bulkedit.form.label.commitTitle"):</label>

					## bulkEditSubmit is looked for in action because it indicates that we should validate that adminAction was set
					<input type="submit" id="bulkEditSubmit" name="bulkEditSubmit" value="Commit"></input>
				</fieldset>
			</form>
            #else
            <p>$action.getText("error.noGroupsAvailable")</p>
            #end
            <!-- end bulk-edit -->