## Copyright (c) 2007, Custom Space Usergroups Manager Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space Usergroups Manager Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Rajendra Kadam
## @author Ren Provey
## @author Gary S. Weaver

    <!-- start configure-plugin -->
	<head>
        <title>$action.getActionName($action.getClass().getName())</title>
	</head>
	<body>
		<script language="javascript">

            // http://www.netlobo.com/comments/off_left_div_hiding
            function showDiv ( elemID )
            {
                var elem = document.getElementById( elemID );
                elem.style.display = 'block';
            }

            // screen-reader friendly method of hiding div
            // http://www.netlobo.com/comments/off_left_div_hiding
            function hideDiv ( elemID )
            {
                var elem = document.getElementById( elemID );
                elem.style.display = 'none';
            }

            function toggleLdapSettingsInput(e)
            {
                //If ldapAuthUsed
                if (e.value == 'YES')
                {
                    showDiv('ldap_deps');
                }
                else
                {
                    hideDiv('ldap_deps');
                }
            }

            function toggleJiraSettingsInput(e)
            {
                //If User Management delegated to jira then only ask user for jira URL and Jira JNDI values
                if (e.value == 'JIRA')
                {
                    showDiv('jira_deps');
                }
                else
                {
                    hideDiv('jira_deps');
                }
            }
		
		</script>

		#parse ( "/template/includes/actionerrors.vm" )
       <!-- Display result of operation if successful -->
		#parse ( "/template/includes/actionmessages.vm" )

        <table class="grid" width="80%">
        <tr>
            <td class="label" bgcolor="#f0f0f0" width="100%" colspan="2">$action.getText("configure.section.title")</td>
        </tr>
        </table>

       <form action="doconfig.action" method="POST" name="CustomUserManagementConfigForm">

        <table class="grid" width="80%">
        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.usermanagerlocation.label"):</td>
            <td>
				#fielderror ('userManagerLocation')
                <input type="radio" name="userManagerLocation" value="CONFLUENCE" #if ($action.userManagerLocation == "CONFLUENCE") checked="true" #end  onclick="toggleJiraSettingsInput(this)" />CONFLUENCE &nbsp;
                <input type="radio" name="userManagerLocation" value="JIRA" #if ($action.userManagerLocation == "JIRA") checked="true" #end onclick="toggleJiraSettingsInput(this)" />JIRA
                <br>
                <font size="1">
            	    $action.getText("configure.usermanagerlocation.help")</li>
                </font>
            </td>
        </tr>
        </table>

        <div id="jira_deps" style="padding-left: 80px; #if (!($action.userManagerLocation == "JIRA")) display: none; #else display: block #end">
        <table class="grid" width="80%">
        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.jirasoapurl.label"):</td>
            <td>
                #fielderror ('jiraSoapUrl')
                <input type="text" id="jiraSoapUrl" name="jiraSoapUrl" value="$!action.jiraSoapUrl" size="120" />
                <p>
                    <font size="1">$action.getText("configure.jirasoapurl.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.jirasoapusername.label"):</td>
            <td>
                #fielderror ('jiraSoapUsername')
                <input type="text" id="jiraSoapUsername" name="jiraSoapUsername" value="$!action.jiraSoapUsername" />
                <p>
                    <font size="1">$action.getText("configure.jirasoapusername.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.jirasoappassword.label"):</td>
            <td>
                #fielderror ('jiraSoapPassword')
                <input type="checkbox" value="y" id="jiraSoapPasswordSet" name="jiraSoapPasswordSet" />
                $action.getText("configure.jirasoappasswordset.label")
                <input type="password" id="jiraSoapPassword" name="jiraSoapPassword" value="$!action.jiraSoapPassword" />
                <p>
                    <font size="1">$action.getText("configure.jirasoappassword.help")</font>
                </p>
            </td>
        </tr>
        </table>
        </div>

        <table class="grid" width="80%">
        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.ldapauthused.label"):</td>
            <td>
				#fielderror ('ldapAuthUsed')
                <input type="radio" name="ldapAuthUsed" value="YES" #if ($!action.ldapAuthUsed == "YES") checked="true" #end onclick="toggleLdapSettingsInput(this)" />$action.getText("configure.yes") &nbsp;
                <input type="radio" name="ldapAuthUsed" value="NO" #if ($!action.ldapAuthUsed == "NO") checked="true" #end onclick="toggleLdapSettingsInput(this)" />$action.getText("configure.no")
                <p>
                    <font size="1">$action.getText("configure.ldapauthused.help")</font>
                </p>
            </td>
        </tr>
        </table>

        <div id="ldap_deps" style="padding-left: 80px; #if (!($action.ldapAuthUsed == "YES")) display: none; #else display: block #end">
        <table class="grid" width="80%">
        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.providertype.label"):</td>
            <td>
				#fielderror ('providerType')
                <input type="radio" id="providerType" name="providerType" value="OSUSER" #if ($action.providerType == "OSUSER") checked="true" #end/>OSUSER &nbsp;
                <input type="radio" id="providerType" name="providerType" value="ATLASSIAN-USER" #if ($action.providerType == "ATLASSIAN-USER") checked="true" #end/>ATLASSIAN-USER
                <br>
                <font size="1">
            	    $action.getText("configure.providertype.help")</li>
                </font>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("configure.ldapuseridattribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapUserIdAttribute')
                <input type="text" id="ldapUserIdAttribute" name="ldapUserIdAttribute" value="$!action.ldapUserIdAttribute" />
                <p>
                    <font size="1">$action.getText("configure.ldapuseridattribute.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("configure.ldapemailattribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapEmailAttribute')
                <input type="text" id="ldapEmailAttribute" name="ldapEmailAttribute" value="$!action.ldapEmailAttribute" />
                <p>
                    <font size="1">$action.getText("configure.ldapemailattribute.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("configure.ldapfirstnameattribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapFirstNameAttribute')
                <input type="text" id="ldapFirstNameAttribute" name="ldapFirstNameAttribute" value="$!action.ldapFirstNameAttribute" />
                <p>
                    <font size="1">$action.getText("configure.ldapfirstnameattribute.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("configure.ldaplastnameattribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapLastNameAttribute')
                <input type="text" id="ldapLastNameAttribute" name="ldapLastNameAttribute" value="$!action.ldapLastNameAttribute" />
                <p>
                    <font size="1">$action.getText("configure.ldaplastnameattribute.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("configure.ldapproviderfullyqualifiedclassname.label"):</td>
            <td nowrap>
                #fielderror ('ldapProviderFullyQualifiedClassname')
                <input type="text" id="ldapProviderFullyQualifiedClassname" name="ldapProviderFullyQualifiedClassname" value="$!action.ldapProviderFullyQualifiedClassname" size="120"/>
                <p>
                    <font size="1">$action.getText("configure.ldapproviderfullyqualifiedclassname.help")</font>
                </p>
            </td>
        </tr>
        </table>
        </div>

        <table class="grid" width="80%">
        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.groupactionspermitted.label"):</td>
            <td>
				#fielderror ('groupActionsPermitted')
                <input type="radio" name="groupActionsPermitted" value="YES" #if ($!action.groupActionsPermitted == "YES") checked="true" #end/>$action.getText("configure.yes") &nbsp;
                <input type="radio" name="groupActionsPermitted" value="NO" #if ($!action.groupActionsPermitted == "NO") checked="true" #end/>$action.getText("configure.no")
                <p>
                    <font size="1">
                	$action.getText("configure.groupactionspermitted.help")
                    </font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.groupnamepattern.label"):</td>
            <td>
                <!-- TODO: Cleanup ugly table and CSS. -->
				<table style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				    <tr style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				        <td style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				            #fielderror ('newGroupNameCreationPrefixPattern')
				            <input type="text" name="newGroupNameCreationPrefixPattern" id="newGroupNameCreationPrefixPattern" value="$!action.newGroupNameCreationPrefixPattern" size="50" />
				        </td>
				        <td style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				            &nbsp;$action.getText("configure.groupnamepattern.prefixandsuffixseparator")&nbsp;
				        </td>
				        <td style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				            #fielderror ('newGroupNameCreationSuffixPattern')
				            <input type="text" name="newGroupNameCreationSuffixPattern" id="newGroupNameCreationSuffixPattern" value="$!action.newGroupNameCreationSuffixPattern" size="50" />
				        </td>
				    </tr>
				</table>
                <p>
                    <font size="1">
                    $action.getText("configure.groupnamepattern.help")
                    </font>
                </p>
                <p>
                    <font size="1">
					$action.getText("configure.groupnamepattern.help.example")
                    </font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.maxuseridslimit.label"):</td>
            <td>
                #fielderror ('maxUserIDsLimit')
                <input type="text" name="maxUserIDsLimit" value="$!action.maxUserIDsLimit" />
                <p>
                    <font size="1">$action.getText("configure.maxuseridslimit.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.maxgroupidslimit.label"):</td>
            <td>
                #fielderror ('maxGroupIDsLimit')
                <input type="text" name="maxGroupIDsLimit" value="$!action.maxGroupIDsLimit" />
                <p>
                    <font size="1">$action.getText("configure.maxgroupidslimit.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.usersearchenabled.label"):</td>
            <td>
                #fielderror ('userSearchEnabled')
                <input type="radio" name="userSearchEnabled" value="YES" #if ($!action.userSearchEnabled == "YES") checked="true" #end />$action.getText("configure.yes") &nbsp;
                <input type="radio" name="userSearchEnabled" value="NO" #if ($!action.userSearchEnabled == "NO") checked="true" #end />$action.getText("configure.no")
                <p>
                    <font size="1">$action.getText("configure.usersearchenabled.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.personalspaceallowed.label"):</td>
            <td>
                #fielderror ('personalSpaceAllowed')
                <input type="radio" name="personalSpaceAllowed" value="YES" #if ($!action.personalSpaceAllowed == "YES") checked="true" #end />$action.getText("configure.yes") &nbsp;
                <input type="radio" name="personalSpaceAllowed" value="NO" #if ($!action.personalSpaceAllowed == "NO") checked="true" #end />$action.getText("configure.no")
                <p>
                    <font size="1">$action.getText("configure.personalspaceallowed.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.plugindeactivated.label"):</td>
            <td>
                #fielderror ('pluginDown')
                <input type="radio" name="pluginDown" value="YES" #if ($!action.pluginDown == "YES") checked="true" #end />$action.getText("configure.yes") &nbsp;
                <input type="radio" name="pluginDown" value="NO" #if ($!action.pluginDown == "NO") checked="true" #end />$action.getText("configure.no")
                <p>
                    <font size="1">$action.getText("configure.plugindeactivated.help")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("configure.plugindowntimemessage.label"):</td>
            <td>
   	         #fielderror ('downTimeMessage')
   	         <textarea name="downTimeMessage" cols="60" rows="6" class="monospaceInput">$!action.downTimeMessage</textarea>
   	         <p>
                 <font size="1">$action.getText("configure.plugindowntimemessage.help"): $action.getText("manager.downtimemessagedefault")</font>
             </p>
            </td>
        </tr>
        
        <tr>
            <td class="label" width="100%" colspan="2">
                    <input type="submit" value='$action.getText("configure.update")' />
					<input id="cancelButton"  type="button" 
					       name="Home of Admin Console"
					       value='$action.getText("configure.cancel")'
					       onclick="location.href='$req.contextPath/admin/console.action'" />
            </td>
        </tr>
     </table>


		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>

<!-- end configure-plugin -->
