## Copyright (c) 2007, Custom Space Usergroups Manager Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space Usergroups Manager Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Rajendra Kadam
## @author Ren Provey
## @author Gary S. Weaver

    <!-- start configure-plugin -->
	<head>
        <title>$action.getActionName($action.getClass().getName())</title>
	</head>
	<body>
		<script language="javascript">
		
            function toggleLdapSettingsInput(e)
            {
                //If ldapAuthUsed
                if (e.value == 'YES')
                {
                    document.getElementById('providerType').disabled = false;
                    document.getElementById('ldapUserIdAttribute').disabled = false;
                    document.getElementById('ldapEmailAttribute').disabled = false;
                    document.getElementById('ldapNameAttribute').disabled = false;
                    document.getElementById('ldapProviderFullyQualifiedClassname').disabled = false;
                }
                else
                {
                    document.getElementById('providerType').disabled = true;
                    document.getElementById('ldapUserIdAttribute').disabled = true;
                    document.getElementById('ldapUserIdAttribute').value = '';
                    document.getElementById('ldapEmailAttribute').disabled = true;
                    document.getElementById('ldapEmailAttribute').value = '';
                    document.getElementById('ldapNameAttribute').disabled = true;
                    document.getElementById('ldapNameAttribute').value = '';
                    document.getElementById('ldapProviderFullyQualifiedClassname').disabled = true;
                    document.getElementById('ldapProviderFullyQualifiedClassname').value = '';
                }
            }

            function toggleJiraSettingsInput(e)
            {
                //If User Management delegated to jira then only ask user for jira URL and Jira JNDI values
                if (e.value == 'JIRA')
                {
                    document.getElementById('jiraSoapUrl').disabled = false;
                    document.getElementById('jiraSoapUsername').disabled = false;
                    document.getElementById('jiraSoapPassword').disabled = false;
                    document.getElementById('jiraSoapPasswordSet').disabled = false;
                }
                else
                {
                    document.getElementById('jiraSoapUrl').disabled = true;
                    document.getElementById('jiraSoapUrl').value = '';
                    document.getElementById('jiraSoapUsername').disabled = true;
                    document.getElementById('jiraSoapUsername').value = '';
                    document.getElementById('jiraSoapPassword').disabled = true;
                    document.getElementById('jiraSoapPassword').value = '';
                    document.getElementById('jiraSoapPasswordSet').disabled = true;
                    document.getElementById('jiraSoapPasswordSet').checked = false;
                }
            }
            
            function toggleGroupSettingsInput(e)
            {
                //If User Management delegated to jira then only ask user for jira URL and Jira JNDI values
                if (e.value == 'YES')
                {
                    document.getElementById('newGroupNameCreationPrefixPattern').disabled = false;
                    document.getElementById('newGroupNameCreationSuffixPattern').disabled = false;
                }
                else
                {
                    document.getElementById('newGroupNameCreationPrefixPattern').disabled = true;
                    document.getElementById('newGroupNameCreationPrefixPattern').value = '';
                    document.getElementById('newGroupNameCreationSuffixPattern').disabled = true;
                    document.getElementById('newGroupNameCreationSuffixPattern').value = '';
                }
            }
		
		</script>

		#parse ( "/template/includes/actionerrors.vm" )
       <!-- Display result of operation if successful -->
		#parse ( "/templates/permissionmgmt/action-messages.vm" )

        <table class="grid" width="80%">

        <tr>
            <td class="label" bgcolor="#f0f0f0" width="100%" colspan="2">$action.getText("configure.heading")</td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("user.manager.location.label"):</td>
            <td nowrap>
                #if ($!action.customPermissionConfiguration.userManagerLocation)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.userManagerLocation</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.authentication.used.label"):</td>
            <td nowrap>
                    <span style="color: green; font-weight: bold">#if ($!action.customPermissionConfiguration.ldapAuthUsed == "YES") YES #else NO #end</span>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("provider.type.label"):</td>
            <td nowrap>
                #if ($!action.customPermissionConfiguration.providerType)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.providerType</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.user.id.attribute.label"):</td>
            <td nowrap>
                #if ($!action.customPermissionConfiguration.ldapUserIdAttribute)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.ldapUserIdAttribute</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.email.attribute.label"):</td>
            <td nowrap>
                #if ($!action.customPermissionConfiguration.ldapEmailAttribute)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.ldapEmailAttribute</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.name.attribute.label"):</td>
            <td nowrap>
                #if ($!action.customPermissionConfiguration.ldapNameAttribute)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.ldapNameAttribute</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.provider.fully.qualified.classname.label"):</td>
            <td nowrap>
                #if ($!action.customPermissionConfiguration.ldapProviderFullyQualifiedClassname)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.ldapProviderFullyQualifiedClassname</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("jira.soap.url.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.jiraSoapUrl)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.jiraSoapUrl</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>
        <tr>
            <td class="label" width="30%">$action.getText("jira.soap.username.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.jiraSoapUsername)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.jiraSoapUsername</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>
        <tr>
            <td class="label" width="30%">$action.getText("jira.soap.password.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.jiraSoapPassword)
                    <span style="color: green; font-weight: bold">(set)</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("usergroups.matching.pattern.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.userGroupsMatchingPattern)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.userGroupsMatchingPattern</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("group.actions.permitted.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.groupActionsPermitted)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.groupActionsPermitted</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("new.group.name.creation.pattern.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.newGroupNameCreationPrefixPattern)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.newGroupNameCreationPrefixPattern</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end

                &nbsp;(group identifier)&nbsp;

                #if ($action.customPermissionConfiguration.newGroupNameCreationSuffixPattern)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.newGroupNameCreationSuffixPattern</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("max.number.of.userids.to.act.on.at.once"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.maxUserIDsLimit)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.maxUserIDsLimit</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("max.number.of.groupids.to.act.on.at.once"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.maxGroupIDsLimit)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.maxGroupIDsLimit</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("user.search.enabled"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.userSearchEnabled)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.userSearchEnabled</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("plugin.deactivated.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.pluginDown)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.pluginDown</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>
        
        <tr>
            <td class="label" width="30%">$action.getText("plugin.downtime.message.label"):</td>
            <td nowrap>
                #if ($action.customPermissionConfiguration.downTimeMessage)
                    <span style="color: green; font-weight: bold">$!action.customPermissionConfiguration.downTimeMessage</span>
                #else
                    <span style="color: #900; font-weight: bold">-</span>
                #end
            </td>
        </tr>
        
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="label" bgcolor="#f0f0f0" width="100%" colspan="2">$action.getText("configure.user.management.module.heading")</td>
        </tr>

       <form action="doconfig.action" method="POST" name="CustomUserManagementConfigForm">
        <tr>
            <td valign="top" class="label" width="30%">$action.getText("user.manager.location.label"):</td>
            <td>
				#fielderror ('userManagerLocation')
                <input type="radio" name="userManagerLocation" value="CONFLUENCE" #if ($action.userManagerLocation == "CONFLUENCE") checked="true" #end  onclick="toggleJiraSettingsInput(this)" />CONFLUENCE &nbsp;
                <input type="radio" name="userManagerLocation" value="JIRA" #if ($action.userManagerLocation == "JIRA") checked="true" #end onclick="toggleJiraSettingsInput(this)" />JIRA
                <br>
                <font size="1">
            	    $action.getText("configure.user.management.module.note")</li>
                </font>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("ldap.authentication.used.label"):</td>
            <td>
				#fielderror ('ldapAuthUsed')
                <input type="radio" name="ldapAuthUsed" value="YES" #if ($!action.ldapAuthUsed == "YES") checked="true" #end onclick="toggleLdapSettingsInput(this)" />$action.getText("yes") &nbsp;
                <input type="radio" name="ldapAuthUsed" value="NO" #if ($!action.ldapAuthUsed == "NO") checked="true" #end onclick="toggleLdapSettingsInput(this)" />$action.getText("no")
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("provider.type.label"):</td>
            <td>
				#fielderror ('providerType')
                <input type="radio" id="providerType" name="providerType" value="OSUSER" #if ($action.providerType == "OSUSER") checked="true" #end #if (!($action.ldapAuthUsed == "YES")) disabled="true" #end/>OSUSER &nbsp;
                <input type="radio" id="providerType" name="providerType" value="ATLASSIAN-USER" #if ($action.providerType == "ATLASSIAN-USER") checked="true" #end #if (!($action.ldapAuthUsed == "YES")) disabled="true" #end/>ATLASSIAN-USER
                <br>
                <font size="1">
            	    $action.getText("provider.type.note")</li>
                </font>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.user.id.attribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapUserIdAttribute')
                <input type="text" id="ldapUserIdAttribute" name="ldapUserIdAttribute" value="$!action.ldapUserIdAttribute" #if (!($action.ldapAuthUsed == "YES")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("ldap.user.id.attribute.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.email.attribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapEmailAttribute')
                <input type="text" id="ldapEmailAttribute" name="ldapEmailAttribute" value="$!action.ldapEmailAttribute" #if (!($action.ldapAuthUsed == "YES")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("ldap.email.attribute.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.name.attribute.label"):</td>
            <td nowrap>
                #fielderror ('ldapNameAttribute')
                <input type="text" id="ldapNameAttribute" name="ldapNameAttribute" value="$!action.ldapNameAttribute" #if (!($action.ldapAuthUsed == "YES")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("ldap.name.attribute.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td class="label" width="30%">$action.getText("ldap.provider.fully.qualified.classname.label"):</td>
            <td nowrap>
                #fielderror ('ldapProviderFullyQualifiedClassname')
                <input type="text" id="ldapProviderFullyQualifiedClassname" name="ldapProviderFullyQualifiedClassname" value="$!action.ldapProviderFullyQualifiedClassname" #if (!($action.ldapAuthUsed == "YES")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("ldap.provider.fully.qualified.classname.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("jira.soap.url.label"):</td>
            <td>
                #fielderror ('jiraSoapUrl')
                <input type="text" id="jiraSoapUrl" name="jiraSoapUrl" value="$!action.jiraSoapUrl" #if (!($action.userManagerLocation == "JIRA")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("jira.soap.url.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("jira.soap.username.label"):</td>
            <td>
                #fielderror ('jiraSoapUsername')
                <input type="text" id="jiraSoapUsername" name="jiraSoapUsername" value="$!action.jiraSoapUsername" #if (!($action.userManagerLocation == "JIRA")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("jira.soap.username.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("jira.soap.password.label"):</td>
            <td>
                #fielderror ('jiraSoapPassword')
                <input type="checkbox" value="y" id="jiraSoapPasswordSet" name="jiraSoapPasswordSet" #if (!($action.userManagerLocation == "JIRA")) disabled="true" #end/>
                $action.getText('jira.soap.password.set.label') 
                <input type="password" id="jiraSoapPassword" name="jiraSoapPassword" value="$!action.jiraSoapPassword" #if (!($action.userManagerLocation == "JIRA")) disabled="true" #end/>
                <p>
                    <font size="1">$action.getText("jira.soap.password.note")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("usergroups.matching.pattern.label")</td>
            <td>
                #fielderror ('userGroupsMatchingPattern')
                <input type="text" name="userGroupsMatchingPattern" value="$!action.userGroupsMatchingPattern" size="30" />
                <p>
                    <font size="1">
                    $action.getText("configure.info.patternMatch")
                    </font>
                </p>
                <p>
                    <font size="1">
                	$action.getText("configure.example.patternMatch")
                    </font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("group.actions.permitted.label"):</td>
            <td>
				#fielderror ('groupActionsPermitted')
                <input type="radio" name="groupActionsPermitted" value="YES" #if ($!action.groupActionsPermitted == "YES") checked="true" #end onclick="toggleGroupSettingsInput(this)" />$action.getText("yes") &nbsp;
                <input type="radio" name="groupActionsPermitted" value="NO" #if ($!action.groupActionsPermitted == "NO") checked="true" #end onclick="toggleGroupSettingsInput(this)" />$action.getText("no")
                <p>
                    <font size="1">
                	$action.getText("configure.groupAction.explanation")
                    </font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("new.group.name.creation.pattern.label"):</td>
            <td>
                <!-- TODO: Cleanup ugly table and CSS. -->
				<table style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				    <tr style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				        <td style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				            #fielderror ('newGroupNameCreationPrefixPattern')
				            <input type="text" name="newGroupNameCreationPrefixPattern" id="newGroupNameCreationPrefixPattern" value="$!action.newGroupNameCreationPrefixPattern" #if ($action.groupActionsPermitted == "NO") disabled="true" #end size="50" />
				        </td>
				        <td style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				            &nbsp;(group identifier)&nbsp;
				        </td>
				        <td style="border-width: 0px 0px 0px 0px; border-spacing: 0px;	border-style: none none none none; border-collapse: separate;">
				            #fielderror ('newGroupNameCreationSuffixPattern')
				            <input type="text" name="newGroupNameCreationSuffixPattern" id="newGroupNameCreationSuffixPattern" value="$!action.newGroupNameCreationSuffixPattern" #if ($action.groupActionsPermitted == "NO") disabled="true" #end size="50" />
				        </td>
				    </tr>
				</table>
                <p>
                    <font size="1">
                    $action.getText("configure.spacekey.explanation")
                    </font>
                </p>
                <p>
                    <font size="1">
					$action.getText("configure.spacekey.example")
                    </font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("max.number.of.userids.to.act.on.at.once"):</td>
            <td>
                #fielderror ('maxUserIDsLimit')
                <input type="text" name="maxUserIDsLimit" value="$!action.maxUserIDsLimit" />
                <p>
                    <font size="1">$action.getText("configure.error.greaterThanZero")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("max.number.of.groupids.to.act.on.at.once"):</td>
            <td>
                #fielderror ('maxGroupIDsLimit')
                <input type="text" name="maxGroupIDsLimit" value="$!action.maxGroupIDsLimit" />
                <p>
                    <font size="1">Must be an integer greater than 0.</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("user.search.enabled"):</td>
            <td>
                #fielderror ('userSearchEnabled')
                <input type="radio" name="userSearchEnabled" value="YES" #if ($!action.userSearchEnabled == "YES") checked="true" #end />$action.getText("yes") &nbsp;
                <input type="radio" name="userSearchEnabled" value="NO" #if ($!action.userSearchEnabled == "NO") checked="true" #end />$action.getText("no")
                <p>
                    <font size="1">$action.getText("configure.warn.largeUserNumber")</font>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("plugin.deactivated.label"):</td>
            <td>
                #fielderror ('pluginDown')
                <input type="radio" name="pluginDown" value="YES" #if ($!action.pluginDown == "YES") checked="true" #end />$action.getText("yes") &nbsp;
                <input type="radio" name="pluginDown" value="NO" #if ($!action.pluginDown == "NO") checked="true" #end />$action.getText("no")
            </td>
        </tr>

        <tr>
            <td valign="top" class="label" width="30%">$action.getText("plugin.downtime.message.label"):</td>
            <td>
   	         #fielderror ('downTimeMessage')
   	         <textarea name="downTimeMessage" cols="60" rows="6" class="monospaceInput">$!action.downTimeMessage</textarea>
            </td>
        </tr>
        
        <tr>
            <td class="label" width="100%" colspan="2">
                    <input type="submit" value="Update" />
					<input id="cancelButton"  type="button" 
					       name="Home of Admin Console"
					       value="Cancel"
					       onclick="location.href='$req.contextPath/admin/console.action'" />
            </td>
        </tr>
     </table>


		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>

<!-- end configure-plugin -->
