## Copyright (c) 2007, Custom Space Usergroups Manager Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space Usergroups Manager Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Rajendra Kadam
## @author Ren Provey
## @author Gary S. Weaver

<!-- start display -->
<html>
    <head>
        <title>$action.getActionName($action.getClass().getName())</title>
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-custom-usermanagement") ##note this should be same as item.key defined in atlassian-plugin.xml
        #decoratorParam("mode" "view-edit-spaceusergroups")
        
            <content tag="spacekey">${action.space.key}</content>
    #set( $contextPath = "/customspacemgmt/permissions/custompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&" )

    #set( $refreshbugworkaround = "&redirect=" )

    <body>

		<script type="text/javascript" src="$req.contextPath/download/resources/$action.pluginKey/js/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="$req.contextPath/download/resources/$action.pluginKey/js/container-min.js"></script>

		<!--
		<script type="text/javascript" src="$req.contextPath/download/resources/$action.pluginKey/js/animation-min.js"></script>
		<script type="text/javascript" src="$req.contextPath/download/resources/$action.pluginKey/js/dragdrop-min.js"></script>
		-->

		<script>
			YAHOO.namespace("ifs");

			var trashLinkInterception = function(e) {
				YAHOO.util.Event.preventDefault(e);
				var targetLink = e.currentTarget;

				groupTrashDialog = new YAHOO.widget.SimpleDialog("dlg", { 
					width: "25em", 
					//effect:[{effect:YAHOO.widget.ContainerEffect.FADE, 
					//		duration:0.25}],
					fixedcenter:true,
					modal:true,
					draggable:false } );
				groupTrashDialog.setHeader("Confirm Group Deletion");
				groupTrashDialog.setBody("Are you sure you want to delete this group?");

				var handleYes = function() {
				 window.location = targetLink;
				 this.hide();
				}

				var handleNo = function() {
				 //user cancels item deletion; this method
				 //would handle the cancellation of the
				 //process.
				 this.hide();
				}

				var trashButtons = [ { text:"Yes", handler:handleYes },
								  { text:"Cancel", handler:handleNo, isDefault:true } 
								];

				groupTrashDialog.cfg.queueProperty("buttons", trashButtons);
				groupTrashDialog.render(document.body);
			}

			YAHOO.ifs.init = function() {
				YAHOO.util.Event.addListener("trashGroup", "click", trashLinkInterception);
			};

			YAHOO.util.Event.addListener(window, "load", YAHOO.ifs.init);
		</script>

	    <style>
	        div#csum {width:800px; margin:0 10px;}
	        div#csum h2 {background:none; font-size: 1.1em; font-weight: bold; color:#036; border-bottom:1px solid #036;}
	        div#csum a img {border:none;}

	        div#csum div.topMessages {clear:both; margin:10px 0 5px 0;}
	        div#csum div.topMessages ul {margin:0; padding:0; list-style:none;}
	        div#csum div.topMessages ul li {padding:.5em; border:1px solid #3C78B5; background-color: #D8E4F1;}

	        div#csum form {clear:both; margin:1em .1em; padding:7px; background-color:#F0F0F0; border:1px solid #CCC;}
	        div#csum fieldset {border:none; padding:0; margin:0;}
	        div#csum legend {padding:10px 0 5px 0; margin:0; display:block; font-weight: bold; color: #036; font-size: 1.1em;}
	        div#csum input {width:100%;}
	        div#csum label {font-size:1em;}
	        div#csum .submitBttn {width:auto;}
	        div#csum ul.formHelp {display:block; clear:both; list-style: none; font-size:.9em; padding:1px 2px; margin: 2px 2px 10px 2px;}
	        div#csum ul.formHelp li {display:block; color:#444;}

	        div#csum div.sectionHeader {}
			div#csum div.sectionHeader a {text-decoration:none;}
			div#csum div.sectionHeader a img {text-decoration:none; border:none; height:11px;}

			div#csum div#header {margin:0 0 20px 0;}

	        div#csum div#groups {display:block; float:left; margin:0; padding:0; width:250px;}
	        div#csum div#groups ul {margin:0; padding:0;}
	        div#csum div#groups ul li {list-style:none;}
	        div#csum div#groups ul li a {display:block; background:url(${req.contextPath}/images/icons/group_16.gif) no-repeat 3px 3px; clear:both; line-height:1.5; padding:4px 0 4px 25px; color:#036; text-decoration:underline;}
	        div#csum div#groups ul li a.selected {color:black; font-weight:bold; text-decoration:none; border:1px solid #CCC; background-color:#FFC;}
	        div#csum div#groups ul li a.selected:hover {background-color: #FFC;}
	        div#csum div#groups ul li a:hover {background-color:#F0F0F0;}
	        div#csum div#groups ul li a:active {background-color:#DDD;}

	        div.mode {float:right; padding:3px 3px 0 0;}
	        div.mode a {text-decoration:none;}
	        div.mode a:hover {color:#333;}
	        div.mode a.selected {font-weight:bold;}

	        div#csum div#groupEditor {float:right; width:520px; padding:0 10px;}

	        div#csum div.groupOpts {text-align:right;}
	        div#csum div.groupOpts a {text-decoration:none;}
	        div#csum div.groupOpts a img {height:12px;}

	        div#csum table {width:100%; border-bottom:2px solid #FFF;}
	        div#csum table tr {}
	        div#csum table tr.even {background-color:#EEE;}
	        div#csum table tr th {font-weight:bold; color:#036; text-align:left; border-bottom:2px solid #036;}
	        div#csum table tr td {padding:1px 2px;}
	        div#csum table tr td.delete {width:4em; text-align:center;}

	        div#csum div#bulkEdit {}
	        div#csum form#bulkEdit fieldset label {display: block; margin: 1em 0 0 0;}
	        div#csum form#bulkEdit fieldset input {width:auto;}

	        div#csum div#footer {clear:both; border-top:1px solid #CCC; margin:10px 0 0 0; padding:7px 0 0 0;}
	        div#csum div#footer ul {clear:both; display:block; margin:0; padding:0 0 0 2px;}
	        div#csum div#footer ul li {display:inline; color:#036;}
	        div#csum div#footer ul li a {color:#036; line-height:1;}
	        div#csum div#footer ul li a img {padding:2px;}
			div#csum div#footer form {padding:3px;}
			div#csum div#footer form fieldset {}
			div#csum div#footer form label {display:inline;}

	        div#csum a#showAdvS {margin:6px 0 0 0; display: block; float:right; clear: both; text-decoration:none;}
	        div#csum a#hideAdvS {display:block; margin:3px 3px 1px 0; float:right; text-decoration: none;}

			div.csum div.srchResInfo {border:1px solid #008000; background-color:#CCFFC7; color:#036; padding:7px 10px; font-weight:bold;}

	        div#csum div#addUserOpts {background-color: #FFF; border:1px solid #CCC; padding:0;}
	        div#csum div#addUserOpts ul {list-style: none; margin:0; padding:0;}
	        div#csum div#addUserOpts ul li {display:block; margin:0; padding:.2em .4em;}
	        div#csum div#addUserOpts ul li.myCustomHighlightClass {margin:0; padding:.2em .4em; background:#FFFFCC; font-weight: bold;}
	        div#csum div#addUserOpts ul li.myCustomPrehighlightClass {margin:0; padding:.2em .4em; background:#D8E4F1;}

			div#csum div.paging {border-top:1px solid #DDD; color:#666;}
			div#csum div.paging span.prev  {display:block; float:left;}
			div#csum div.paging span.next  {display:block; float:right;}
			div#csum div.paging span.count {display:block; text-align:center;}
			div#csum form.pageSkip {border:none; margin:0; background-color:#FFF;}
			div#csum form.pageSkip fieldset {}
			div#csum form.pageSkip label {font-weight:normal; font-size:inherit; color:inherit; display:inline;}
			div#csum form.pageSkip input {width:3em; display:inline;}
			div#csum form.pageSkip input.submitBttn {width:auto; display:inline;}
	    </style>

		<!--[if IE]>
			<style>
				div#csum div#groupEditor {width:505px;}
			</style>
		<![endif]-->

		<style>
		.yui-overlay,
		.yui-panel-container {visibility:hidden; position:absolute; z-index: 1;}

		.masked .yui-panel-container {
		    /*
		        Default to a z-index 1 higher than default if the Panel is modal
		        to make sure the panel is above its modality mask.
		    */
		   z-index: 2;
		}

		.yui-tt {
			visibility:hidden;
			position:absolute;
			color:#333;
			background-color:#FDFFB4;
			font-family:arial,helvetica,verdana,sans-serif;
			padding:2px;
			border:1px solid #FCC90D;
			font:100% sans-serif;
			width:auto;
		}

		/*
		    PLEASE NOTE: The <DIV> element used for a Tooltip's shadow is appended 
		    to its root element via JavaScript once it has been rendered.  The 
		    code that creates the shadow lives in the Tooltip's public "onRender" 
		    event handler that is a prototype method of YAHOO.widget.Tooltip.  
		    Implementers wishing to remove a Tooltip's shadow or add any other markup
		    required for a given skin for Tooltip should override the "onRender" method.
		*/

		.yui-tt-shadow {

		    display: none;

		}

		* html body.masked select {
			visibility:hidden;
		}

		* html div.yui-panel-container select {
			visibility:inherit;
		}

		* html div.drag select {
			visibility:hidden;
		}

		* html div.hide-select select {
			visibility:hidden;
		}

		.mask {
		    /*
		        Default to a z-index of 1 less than the default defined 
		        by ".masked .yui-panel-container"
		    */
		    z-index: 1; 
		    display:none;
		    position:absolute;
		    top:0;
		    left:0;
		    -moz-opacity: 0.5;
		    opacity:.50;
		    filter: alpha(opacity=50);
		    background-color:#CCC;
		}

		.hide-scrollbars,
		.hide-scrollbars * {overflow: hidden;}
		.hide-scrollbars select {display: none;}
		.show-scrollbars {overflow: auto;}
		.yui-panel-container.show-scrollbars {overflow: visible;}
		.yui-panel-container.show-scrollbars .underlay {overflow: auto;}
		.yui-panel-container.focused {}

		/* Panel underlay styles */
		.yui-panel-container .underlay {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
		.yui-panel-container.matte {padding: 3px; background-color: #fff;}
		.yui-panel-container.shadow .underlay {top: 3px; bottom: -3px; right: -3px; left: 3px; background-color: #000; opacity: .12;
		    filter: alpha(opacity=12);  /* For IE */
		}

		.yui-panel {visibility:hidden; border-collapse:separate; position:relative; left:0; top:0; font:1em Arial; background-color:#FFF; border:1px solid #3C78B5; z-index:1; overflow:hidden;}
		.yui-panel .hd {background-color:#D8E4F1; color:#000; font-size:1.3em; line-height:1.2; border:none; border-bottom:1px solid #3C78B5; font-weight:bold; padding:4px; white-space:nowrap;}
		.yui-panel .bd {overflow:hidden; padding:4px; line-height:1.2; font-size:1.1em;}\
		.yui-panel .bd p {margin:0 0 1em;}

		.yui-panel .container-close {position:absolute; top:5px; right:4px; z-index:6; height:12px; width:12px; margin:0px; padding:0px; background:url(close12_1.gif) no-repeat; cursor:pointer; visibility:inherit;}

		.yui-panel .ft {padding:4px; overflow:hidden;}

		.yui-simple-dialog .bd .yui-icon {background-repeat:no-repeat; width:16px; height:16px; margin-right:10px; float:left;}

		.yui-simple-dialog .bd span.blckicon {
			background: url("blck16_1.gif") no-repeat;
		}

		.yui-simple-dialog .bd span.alrticon {
			background: url("alrt16_1.gif") no-repeat;
		}

		.yui-simple-dialog .bd span.hlpicon {
			background: url("hlp16_1.gif") no-repeat;
		}

		.yui-simple-dialog .bd span.infoicon {
			background: url("info16_1.gif") no-repeat;
		}

		.yui-simple-dialog .bd span.warnicon {
			background: url("warn16_1.gif") no-repeat;
		}

		.yui-simple-dialog .bd span.tipicon {
			background: url("tip16_1.gif") no-repeat;
		}

		.yui-dialog .ft, 
		.yui-simple-dialog .ft {
			padding-bottom:5px;
			padding-right:5px;
			text-align:right;
		}

		.yui-dialog form, 
		.yui-simple-dialog form {
			margin:0;
		}

		.button-group button {
			font:verdana;
			font-size:1em;
			text-decoration:none;
			background-color: #E4E4E4;
			color: #333;
			cursor: hand;
			vertical-align: middle;
			border: 2px solid #797979;
			border-top-color:#FFF;
			border-left-color:#FFF;
			margin:2px;
			padding:2px;
		}

		.button-group button.default {
			font-weight:bold;
		}

		.button-group button:hover, 
		.button-group button.hover {
			border:2px solid #90A029;
			background-color:#EBF09E;
			border-top-color:#FFF;
			border-left-color:#FFF;
		}

		.button-group button:active {
			border:2px solid #E4E4E4;
			background-color:#BBB;
			border-top-color:#333;
			border-left-color:#333;
		}
		</style>

<div id="csum">

  #if($action.isNotAllowed())
    <div class="alertPanel">

    <img src="/images/icons/emoticons/forbidden.gif" align="absmiddle" width="16" height="16">

    $action.getText("display.alert.notallowed")

    </div>
  #elseif($action.isPluginDown())
    ## this is either the message set in config, or is an i18n message if config message is empty
    <div class="alertPanel">

    <img src="/images/icons/emoticons/forbidden.gif" align="absmiddle" width="16" height="16">

    $action.pluginDownMessage

    </div>
  #elseif(!$action.space)
    ## this happens whenever action.getSpace() returns null (as for a bad space key).
    <div class="alertPanel">

    <img src="/images/icons/emoticons/forbidden.gif" align="absmiddle" width="16" height="16">

    $action.getText("display.alert.invalidspacekey")

    </div>
  #elseif(!$action.remoteUser)
    ## this is not likely to happen since confluence security keeps you from viewing this page as anyone without
    ## rights to the space. It is included just in case for some reason a user gets through that security with a null user.
    <div class="alertPanel">

    <img src="/images/icons/emoticons/forbidden.gif" align="absmiddle" width="16" height="16">

    $action.getText("display.alert.invaliduser")

    </div>
  #else
    <div class="messages">
		## Action errors are already displayed at top of page under tab because this is part of space management
		## which already includes it
		##parse ( "/template/includes/actionerrors.vm" )
       <!-- Display result of operation if successful -->
		#parse ( "/template/includes/actionmessages.vm" )
	</div>

    #set($configValidationResponse=$action.configValidationResponse)
	#if($configValidationResponse.isValid())

    <div id="groups">
        #parse( "/templates/permissionmgmt/group-list.vm" )
    </div>
        
        <div id="groupEditor">
        #if($action.userSearch)
            #parse ( "/templates/permissionmgmt/manage-users-advanced.vm" )
        #elseif($action.bulkEdit)
            #parse ( "/templates/permissionmgmt/bulk-edit.vm" )
        #else
            #if(${action.selectedGroup})
                #parse ( "/templates/permissionmgmt/manage-users-basic.vm" )
            #end
        #end
        </div>
<div style="clear:both"></div>
        <div id="footer">
				<ul>
				#if($groups && $groups.total>0)
			        <li><a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&bulkEdit=1">$action.getText("display.bulkedit")</a> </li>
			        #*
					#if($action.isUserSearchEnabled)
					<li>| <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&userSearch=1">$action.getText("searchUsers.link.title")</a> </li>
					#end
					*#
			    #end

			    #if($isGroupActionsPermitted)
					<li>
					#if($groups && $groups.total>0)
					 |
					#end
					<a href="${req.contextPath}/spaces/spacepermissions.action?key=$generalUtil.doubleUrlEncode($key)">
						#*<img src="${req.contextPath}/images/icons/lock_16.gif"/>*#
						$action.getText("display.spacepermissions")</a> </li>
					#*<li>| <a href="${req.contextPath}/pages/listpermissionpages.action?key=$generalUtil.doubleUrlEncode($key)">
						<img src="${req.contextPath}/images/icons/locked_pages_16.gif"/>
						$action.getText("page.permissions.link.title")</a> </li>*#
			    #end

                #if($action.selectedGroup)
                <li>| <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($selectedGroup)&refresh=1">$action.getText("display.refresh")</a> </li>
                #else
                <li>| <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&refresh=1">$action.getText("display.refresh")</a> </li>
                #end
			        
				</ul>

                #set($availableSpaces = $action.spacesAsSpaceAdminForUser)
	            #if($availableSpaces && $availableSpaces.size()>1)
                <form method="GET" action="docustompermissionsmanage.action" id="changeSpace" name="changeSpace">
	                <fieldset>
	                    <label>$action.getText("display.changespace.label"): </label>
	                    <select name="key">
	                        #foreach ($availableSpace in $availableSpaces)
	                        <option value="$availableSpace.key" #if($availableSpace.key==$action.space.key)selected="true"#end>$generalUtil.htmlEncode($availableSpace.name) ($generalUtil.htmlEncode($availableSpace.key))</option>
	                        #end
	                    </select>
	                	<input type="submit" value='$action.getText("display.changespace")' class="submitBttn"/>
	                </fieldset>
	            </form>
	            #end				
		</div>
    #else
        <p class="noteMacro">
        <p>$action.getText("display.error.adminmustconfigure") <a href="$req.contextPath/admin/plugins/custompermissionsconfig/config.action">$action.getText("display.error.adminmustconfigure.linktoconfigurator")</a>.</p>
        <p>$action.getText("display.error.adminmustconfigure.errormessages.title"):</p>
            #set($fieldNameToErrorMessage=$configValidationResponse.fieldNameToErrorMessage)
            <ul>
            #foreach($configFieldName in $fieldNameToErrorMessage.keySet())
                <li>$configFieldName: $fieldNameToErrorMessage.get($configFieldName)</li>
            #end
            </ul>
        </p>
    #end

    #parse ( "/admin/admin-breadcrumbs.vm" )

    ## show action info, cache for debugging using request param &debug once (have to kill session after that to stop debugging)
    #set($actionDebug=$action.actionDebug)
    #if($actionDebug)
        $actionDebug
    #end

  #end

<div style="clear:both"></div>

#end
</div>
<!-- end display -->

</body>
</html>