## Copyright (c) 2007-2011, Custom Space User Management Plugin Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space User Management Plugin Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Ren Provey
## @author Gary S. Weaver

            <!-- start manage-users-advanced -->
    #if($action.isUserSearchEnabled)
        #if($action.selectedGroup)
            #set ($searchResultUsers = $action.searchResultUsers)
            <div class="sectionHeader">
				<h2>$action.getText("csum.manageusersadvanced.section.title")</h2>
			</div>

            <div id="advancedUserSearchForm">
            #if(${action.selectedGroup})
            <a id="hideAdvS" href="docustompermissionsmanage.action?key=$generalUtil.urlEncode($key)&selectedGroup=$generalUtil.urlEncode($action.selectedGroup)">&laquo; $action.getText("csum.manageusersadvanced.returntobasicedit", ["${action.selectedGroup}"])</a>
            #end
            <form method="POST" action="docustompermissionsmanage.action?key=$generalUtil.urlEncode($key)&selectedGroup=$generalUtil.urlEncode($action.selectedGroup)&userSearch=1" id="groupManagement" name="ManageUsersForm">
                <input type="hidden" name="adminAction" value="advancedFindUsers"/>
                <fieldset>
                    #fielderror ('advancedSearch')
                    <label>$action.getText("csum.manageusersadvanced.finduser.label"): </label>
                    <select name="lookupType">
                        <option value="$action.usernameLookupType" #if ($action.advancedUserQuery && $action.advancedUserQuery.lookupType == $action.usernameLookupType) selected="selected" #end>$action.getText("csum.manageusersadvanced.lookuptype.choice.username")</option>
                        <option value="$action.fullNameLookupType" #if ($action.advancedUserQuery && $action.advancedUserQuery.lookupType == $action.fullNameLookupType) selected="selected" #end>$action.getText("csum.manageusersadvanced.lookuptype.choice.fullname")</option>
                        <option value="$action.emailLookupType" #if ($action.advancedUserQuery && $action.advancedUserQuery.lookupType == $action.emailLookupType) selected="selected" #end>$action.getText("csum.manageusersadvanced.lookuptype.choice.email")</option>
                    </select>
                    <select name="substringMatchType">
                        <option value="$action.substringStartsWith" #if ($action.advancedUserQuery && $action.advancedUserQuery.substringMatchType == $action.substringStartsWith) selected="selected" #end>$action.getText("csum.manageusersadvanced.substringmatchyype.choice.startswith")</option>
                        <option value="$action.substringContains" #if ($action.advancedUserQuery && $action.advancedUserQuery.substringMatchType == $action.substringContains) selected="selected" #end>$action.getText("csum.manageusersadvanced.substringmatchyype.choice.contains")</option>
                        <option value="$action.substringEndsWith" #if ($action.advancedUserQuery && $action.advancedUserQuery.substringMatchType == $action.substringEndsWith) selected="selected" #end>$action.getText("csum.manageusersadvanced.substringmatchyype.choice.endswith")</option>
                    </select>
                    <input type="text" id="partialSearchTerm" #if ($action.advancedUserQuery) value="$!action.advancedUserQuery.partialSearchTerm" #end name="partialSearchTerm" required="true"/>
                    <div id="usersearchhelp" class="smalltext">$action.getText("csum.manageusersadvanced.help")</div>
                </fieldset>
                <br/>
                <fieldset>
                    <input type="submit" value="Find Users" class="submitBttn"/>
                </fieldset>
            </form>
			<script type="text/javascript">
				var groupManagementForm = new YAHOO.util.Element('groupManagement');
				groupManagementForm.addListener('submit', validateForm, groupManagementForm);
			</script>
            #if($searchResultUsers && $searchResultUsers.total > 0)
                <div class="srchResInfo">$searchResultUsers.total users found</div>
                <table width="100%" cellspacing="0">
                    <tr>
                        <th>$action.getText("csum.manageusersadvanced.lookuptype.choice.fullname")</th>
                        <th>$action.getText("csum.manageusersadvanced.lookuptype.choice.username")</th>
                        <th>$action.getText("csum.manageusersadvanced.lookuptype.choice.email")</th>
                        #*<th>$action.getText("csum.isMember")</th>*#
                        <th>$action.getText("csum.manageusersadvanced.addremovefromselectedgroup", ["$action.selectedGroup"])</th>
                    </tr>
                #foreach ($user in $searchResultUsers.page)
                    #if($user)
                    <tr #if ($velocityCount % 2 == 0) class="even" #end>
                        <td>#if($user.fullName)<img class="icon" src="${req.contextPath}/images/icons/user_16.gif"/>$generalUtil.htmlEncode($user.fullName)#else&nbsp;#end</td>
                        <td>#if($user.name)$generalUtil.htmlEncode($user.name)#else&nbsp;#end</td>
                        <td>#if($user.email)<a href="mailto:$generalUtil.maskEmail($user.email)" alt='$action.getText("csum.manageusersbasic.sendemailtouser", ["$generalUtil.maskEmail($user.email)"])'>$generalUtil.maskEmail($user.email)</a>#else&nbsp;#end</td>
                        #if($action.isMemberOfSelectedGroup($user.name))
                        #*<td><img alt="$generalUtil.htmlEncode($user.name) is a member of group $generalUtil.htmlEncode($action.selectedGroup)" src="${req.contextPath}/images/icons/emoticons/check.gif"/></td>*#
                        <td text-align="center"><a href="docustompermissionsmanage.action?key=$generalUtil.urlEncode($key)&selectedGroup=$generalUtil.urlEncode($action.selectedGroup)&adminAction=removeUsersFromGroups&groups=$generalUtil.urlEncode($action.selectedGroup)&users=$generalUtil.urlEncode($user.name)&userSearch=1$refreshbugworkaround"><img border="0" alt="Remove $generalUtil.htmlEncode($user.name) from group $generalUtil.htmlEncode($action.selectedGroup)" src="${req.contextPath}/images/icons/trash_16.gif"/></a></td>
                        #else
                        #*<td text-align="center"><img alt="$user.name is NOT a member of group $!{action.selectedGroup}" src="${req.contextPath}/images/icons/emoticons/error.gif"/></td>*#
                        <td text-align="center"><a href="docustompermissionsmanage.action?key=$generalUtil.urlEncode($key)&selectedGroup=$generalUtil.urlEncode($action.selectedGroup)&adminAction=addUsersToGroups&groups=$generalUtil.urlEncode($action.selectedGroup)&users=$generalUtil.urlEncode($user.name)&userSearch=1$refreshbugworkaround"><img border="0" alt="Add $generalUtil.htmlEncode($user.name) to group $generalUtil.htmlEncode($action.selectedGroup)" src="${req.contextPath}/images/icons/emoticons/add.png"/></a></td>
                        #end
                    </tr>
                    #else
                        <!-- Note: would display an additional user row here but user in search results was null, probably because user was removed. -->
                    #end
                #end
                    <tr>
                        <td colspan="5">
                            <div style="text-align: center">
#parse ( "/templates/permissionmgmt/search-result-user-pager-actions.vm" )
                            </div>
                        </td>
                    </tr>
                </table>

            #else
                $action.getText("csum.manageusersadvanced.nousersfound")
            #end
			</div>
        #end
    #else
    <div class="alertPanel">
        <img src="/images/icons/emoticons/forbidden.gif" align="absmiddle" width="16" height="16"> $action.getText("csum.manageusersadvanced.usersearchdisabled")
    </div>
    #end
            <!-- end manage-users-advanced -->