## Copyright (c) 2007-2009, Custom Space User Management Plugin Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space User Management Plugin Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Rajendra Kadam
## @author Ren Provey
## @author Gary S. Weaver

            <!-- start manage-users-basic -->

        #if($action.selectedGroup)

            <div class="sectionHeader">				
#*
				<div class="mode">
					<a href="docustompermissionsmanage.action?key=$key&selectedGroup=$action.selectedGroup&refresh=1">
						$action.getText("csum.refresh")</a>
			    </div>
*#
				<h2>$action.getText("csum.manageusersbasic.section.title", ["$generalUtil.htmlEncode(${action.selectedGroup})"])</h2>
				#if(${action.isGroupActionsPermitted})
				<a id="trashGroup" href="docustompermissionsmanage.action?key=$key&adminAction=removeGroups&groups=$action.selectedGroup$refreshbugworkaround"><img src="${req.contextPath}/images/icons/trash_16.gif" /> $action.getText("csum.manageusersbasic.deletegroup", ["${action.selectedGroup}"])</a>
				#end
			</div>

            #if($action.isUserSearchEnabled)
            <a id="showAdvS" href="docustompermissionsmanage.action?key=$key&selectedGroup=$action.selectedGroup&userSearch=1">&raquo; $action.getText("csum.manageusersbasic.usersearch")</a>
            #end

            <form method="POST" action="docustompermissionsmanage.action?key=$key&selectedGroup=$action.selectedGroup$refreshbugworkaround" id="addUsersForm" name="ManageUsersForm">
                <fieldset>
                    <input type="hidden" name="adminAction" value="addUsersToGroups"/>
                    <input type="hidden" name="groups" value="$action.selectedGroup"/>
                    <label for="users">$action.getText("csum.manageusersbasic.users.label", ["${action.selectedGroup}"]):</label>
                    <input type="text" style="width:100%;" id="addUsersToGroup" name="users" required="true" />
                    ##<div id="addUserOpts"></div>
					<ul class="formHelp">
						<li>$action.getText("csum.manageusersbasic.users.help")</li>
						<li>$action.getText("csum.manageusersbasic.users.help.commaseparatedusernames")</li>
					</ul>
                    ## TODO: use Ajax and $action.findUsersWhoseNameStartsWith(partialName) to prepopulate as you type...
                    ## var quotedCommaSpaceDelimitedUsers = [$action.findUsersWhoseNameStartsWith("whatever", 5)];
                    <input type="submit" value='$action.getText("csum.manageusersbasic.addusers.commit")' class="submitBttn"/>
                </fieldset>
            </form>
			
			<script type="text/javascript">
				var addUsersForm = new YAHOO.util.Element('addUsersForm');
				addUsersForm.addListener('submit', validateForm, addUsersForm);
			</script>
			
            #set ($users = $action.users)

            #if($users && $users.total > 0)
                <table cellspacing="0">                
                    <thead>
						<tr>
							<th>$action.getText("csum.manageusersbasic.fullname")</th>
							<th>$action.getText("csum.manageusersbasic.username")</th>
							<th>$action.getText("csum.manageusersbasic.email")</th>
							<th align="center">$action.getText("csum.manageusersbasic.remove")</th>
						</tr>
					</thead>
					<tbody>

					$action.logPps($users)

                #foreach ($user in $users.page)
                    <tr #if ($velocityCount % 2 == 0) class="even" #end>
                        <td>#if($user.fullName)<img class="icon" src="${req.contextPath}/images/icons/user_16.gif"/>$generalUtil.htmlEncode($user.fullName)#else&nbsp;#end</td>
                        <td>#if($user.name)$generalUtil.htmlEncode($user.name)#else&nbsp;#end</td>
                        <td>#if($user.email)<a href="mailto:$generalUtil.maskEmail($user.email)" alt='$action.getText("csum.manageusersbasic.sendemailtouser", ["$generalUtil.maskEmail($user.email)"])'>$generalUtil.maskEmail($user.email)</a>#else&nbsp;#end</td>
                        <td class="delete"><a href="docustompermissionsmanage.action?key=$key&selectedGroup=$action.selectedGroup&adminAction=removeUsersFromGroups&groups=$!action.selectedGroup&users=$user.name$refreshbugworkaround"><img alt='$action.getText("csum.manageusersbasic.removeuserfromgroup", ["$user.name", "${action.selectedGroup}"])' src="${req.contextPath}/images/icons/trash_16.gif"/></a></td>
                    </tr>
                #end
                    </tbody>
                </table>

                #parse ( "/templates/permissionmgmt/user-pager-actions.vm" )
            #else
                $action.getText("csum.manageusersbasic.nousersfoundingroup")
            #end

            </br>                        
        #end
        
            <!-- end manage-users-basic -->
