## Copyright (c) 2007-2010, Custom Space User Management Plugin Development Team
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
##     * Redistributions of source code must retain the above copyright notice,
##       this list of conditions and the following disclaimer.
##     * Redistributions in binary form must reproduce the above copyright
##       notice, this list of conditions and the following disclaimer in the
##       documentation and/or other materials provided with the distribution.
##     * Neither the name of the Custom Space User Management Plugin Development Team
##       nor the names of its contributors may be used to endorse or promote
##       products derived from this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

## @author Ren Provey
## @author Gary S. Weaver

                ## Provide pagerAction links for users

                #if ($action.selectedGroup && $users && $users.total > 0)
<div class="paging">
                    #if($action.hasPrev($users))
                    <span class="prev">
                        <a href="docustompermissionsmanage.action?key=$generalUtil.urlEncode($key)&selectedGroup=$generalUtil.urlEncode($action.selectedGroup)&pagerAction=prevPageUsers">&laquo; $action.getText("csum.userpageractions.previous")</a>
                    </span>
                    #end
                    #if($action.hasNext($users))
                    <span class="next">
                        <a href="docustompermissionsmanage.action?key=$generalUtil.urlEncode($key)&selectedGroup=$generalUtil.urlEncode($action.selectedGroup)&pagerAction=nextPageUsers">$action.getText("csum.userpageractions.next") &raquo;</a>
                    </span>
                    #end
                    #if(${action.groups})
                    <span class="count">
                        $action.getText("csum.userpageractions.pageindicator", ["$!{action.firstRecordNum($users)}", "$!{action.lastRecordNum($users)}", "$!{users.total}"])<br/>

                        #if($users.total > $users.countOnEachPage)
                        <form class="pageSkip" action="docustompermissionsmanage.action">
		                    <fieldset>
			                    <input type="hidden" name="key" value="$key"/>
			                    <input type="hidden" name="selectedGroup" value="$action.selectedGroup"/>
		                        <input type="hidden" name="pagerAction" value="skipToUser"/>
		                        <label>$action.getText("csum.userpageractions.userskipbynumber.label"): </label>
								<input type="text" name="recordNum"/>
		                        <input type="submit" class="submitBttn" id="skipToUserBtn" name="skipToUserBtn" value='$action.getText("csum.userpageractions.userskipbynumber")'/>
	                        </fieldset>
                        </form>
                        #end

                    </span>
                    #end
</div>
                #end