## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

			<!-- start bulk-edit -->
			<div class="sectionHeader">
				<div id="mode"><a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)">&laquo; Return to normal view</a></div>
				<h2>Bulk Change Tool</h2>
			</div>

            #set ($allGroups = $action.allGroups)
            #if($allGroups && $allGroups.size() > 0)
			<form id="bulkChange" action="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)">
				<fieldset>

				    <input type="hidden" name="key" value="$key"/>
					<label>1. Select Action:</label>
					<input type="radio" value="addUsersToGroups" name="adminAction"></input> Add Users<br />
					<input type="radio" value="removeUsersFromGroups" name="adminAction"></input> Remove Users
					<br />

					<label>2. Enter Users:</label>
					<input type="text" style="width:100%;" id="users" name="users"></input>
					<br />

					<label>3. From Group(s):</label>
                    <ul>
                    #foreach ($group in $allGroups)
                        <li>
                            <input type="checkbox" id="groups" name="groups" value="$!group.name"> $generalUtil.htmlEncode($!group.name)</input> (<a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($group.name)">Edit $generalUtil.htmlEncode($!group.name)</a>)
                        </li>
                    #end
                    </ul>

					<label>4. Commit Changes</label>
					<input type="submit" value="Commit"></input>
				</fieldset>
			</form>
            #else
            <p>No groups available with rights to space that match configured pattern. Try adding some groups.</p>
            #end
            <!-- end bulk-edit -->