			<div class="sectionHeader">
				<div id="mode"><a href="docustompermissionsmanage.action?key=${key}">&laquo; Return to normal view</a></div>
				<h2>Bulk Change Tool</h2>
			</div>

            #set ($groups = ${action.groups})
            #if($groups)
			<form id="bulkChange" action="">
				<fieldset>
					<label>1. Select Action:</label>
					<input type="radio" value="addUsersToGroups" name="adminAction"></input> Add Users<br />
					<input type="radio" value="removeUsersFromGroups" name="adminAction"></input> Remove Users
					<br />

					<label>2. Enter Users:</label>
					<input type="text" style="width:100%;" id="users" name="users"></input>
					<br />

					<label>3. From Group(s):</label>




                    <ul>
                    #foreach ($group in $groups)
                        <li>
                            <input type="checkbox" id="groups" name="groups"> $!group.name</input> (<a href="docustompermissionsmanage.action?key=${key}&selectedGroup=$group.name">Edit $!group.name</a>)
                        </li>
                    #end
                    </ul>

					<label>4. Commit Changes</label>
					<input type="submit" name="Commit"></input>
				</fieldset>
			</form>
            #else
            Currently there are no groups in the domain of this space that you can manage users within. Please add
            some groups.
            #end