## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

<!-- start display -->
<html>
    <head>
        <title>$action.getActionName($action.getClass().getName())</title>
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-custom-usermanagement") ##note this should be same as item.key defined in atlassian-plugin.xml
        #decoratorParam("mode" "view-edit-spaceusergroups")
        
            <content tag="spacekey">${action.space.key}</content>
    #set( $contextPath = "/customspacemgmt/permissions/custompermissionsmanage.action?key=${key}&" )

    <body>

    <style>
        div#csum {width:750px; border:1px solid #CCC; margin:10px;}
        div#csum a img {border:none; text-decoration:none;}
		div#csum h2 {margin:0; padding: 8px 4px; border:none; background:none; font-size: 16px; font-weight: bold; color:#036;}


        div#csum form {margin:0; padding:0;}
        div#csum fieldset {border:none; padding:none; margin:none;}
        div#csum label {font-size:1.1em;}
        

        div#csum div#header {margin:0 0 20px 0;}

        div#csum div#groups {display:block; float:left; margin:0; padding:0; width:250px; background-color:#EEE; border-bottom:1px solid #CCC;}
        div#csum div#groups h2 {border-right:1px solid #CCC;}
        div#csum div#groups ul {margin:0; padding:0;}
        div#csum div#groups ul li {list-style:none;}
        div#csum div#groups ul li a {display:block; background:url(${action.confluenceRoot}/images/icons/group_16.gif) no-repeat 3px 3px; clear:both; line-height:1.5; padding:4px 0 4px 25px; color:#036; text-decoration:none; border-right:1px solid #CCC;}
        div#csum div#groups ul li a.selected {color:black; font-weight:bold; text-decoration:none; border-right:1px solid #FFF; border-top:1px solid #CCC; border-bottom:1px solid #CCC; background-color:#FFF;}
        div#csum div#groups ul li a:hover {background-color:#FFF;}
        div#csum div#groups form {border-right:1px solid #CCC; border-top:1px solid #CCC;}


        div#mode {}
        div#mode a {}
        div#mode a:hover {background-color:green;}
        div#mode a.selected {background-color:grey;}

        div#csum div#groupEditor {float:right; width:484px; padding:0 6px; background-color:#FFF; border:2px solid #FFF;}

        div#csum div#groupEditor table {width:100%;}
        div#csum div#groupEditor table tr {}
        div#csum div#groupEditor table tr.even {background-color:#EEE;}
        div#csum div#groupEditor table tr th {font-weight:bold; color:#036; text-align:left; border-bottom:2px solid #036;}
        div#csum div#groupEditor table tr td {border-bottom:1px solid #CCC;}


		div#csum div#footer {clear:both; border-top:1px solid #CCC; margin:15px 0 0 0;}
		div#csum div#footer ul {clear:both; display:block; margin:0; padding:0;}
		div#csum div#footer ul li {display:inline;}
		div#csum div#footer ul li a {display:block; color:#036; margin:0; padding:5px 15px; float:left; line-height:1; border-right:1px solid #CCC;}
		div#csum div#footer ul li a img {padding:0 5px;}
    </style>

#parse ( "/templates/permissionmgmt/handle-pager-actions.vm" )

#parse ( "/templates/permissionmgmt/action-messages.vm" )
<div id="csum">
    #if(${action.isPluginConfigurationDone})
    <div id="groups">
        #parse( "/templates/permissionmgmt/group-list.vm" )
    </div>

        #if(${action.selectedGroup})
        <div id="groupEditor">
		    <h2>Edit ${action.selectedGroup}:</h2>

			#if(${action.isGroupActionsPermitted})
			    (<a href="docustompermissionsmanage.action?key=${key}&adminAction=removeGroup&groupToRemove=${action.selectedGroup}">remove ${action.selectedGroup}</a>)<br />
			#end

            #if($action.userSearch)
                #parse ( "/templates/permissionmgmt/manage-users-advanced.vm" )
                Other options: <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}">Basic Form / List Users</a>
		    #else
		        #parse ( "/templates/permissionmgmt/manage-users-basic.vm" )
		        Other options: <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&userSearch=1">Advanced Form / Search and Add</a>
		    #end
        </div>
        #end
    #else
        #if(${action.customPermissionConfiguration.pluginDown} == "yes")
            <p class="infoMacro">${action.customPermissionConfiguration.downTimeMessage}</p>
		#else
		    <p class="noteMacro">An administrator must configure "Custom Space Usergroups Manager" before you start using it by going to Administration &gt; Plugins and selecting this plugin.</p>
		#end
    #end

    #parse ( "/admin/admin-breadcrumbs.vm" )

    #if($isGroupActionsPermitted)
		<div id="footer">
			<ul>
				<li><a href="${action.confluenceRoot}/spaces/spacepermissions.action?key=${key}"><img src="${action.confluenceRoot}/images/icons/lock_16.gif"/>Edit ${action.selectedGroup} Permissions</a></li>
				<li><a href="${action.confluenceRoot}/pages/listpermissionpages.action?key=${key}"><img src="${action.confluenceRoot}/images/icons/locked_pages_16.gif"/>Edit Page Permissions</a></li>
			</ul>
			<div style="clear:both"></div>
		</div>
	#else
		<div style="clear:both"></div>
    #end


#end
</div>
<!-- end display -->

</body>
</html>