## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

<!-- start display -->
<html>
    <head>
        <title>$action.getActionName($action.getClass().getName())</title>
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-custom-usermanagement") ##note this should be same as item.key defined in atlassian-plugin.xml
        #decoratorParam("mode" "view-edit-spaceusergroups")
        
            <content tag="spacekey">$action.space.key</content>
    #set( $contextPath = "/customspacemgmt/permissions/custompermissionsmanage.action?key=${key}&" )

    <body>

    <style>
        form {margin:0; padding:0;}
        fieldset {border:none; padding:0; margin:0;}
        input {margin:0; padding:0; font-size:1.5em; width:100%;}
        label {font-size:1.4em; display:block;}

        div#PageContent {padding:0;}

        div#csumHeader {margin:0;}

        div#csumGroups {padding:0 1em; width:300px; float:left; margin:0; border-right:1px solid orange;}
        div#csumGroups h3 {margin:0 0 10px 0;}
        div#csumGroups ul {margin:0; padding:0;}
        div#csumGroups ul li {padding:0 3px; list-style: none inside url(/confluence/images/icons/group_16.gif);}
        div#csumGroups ul li a {display:block; line-height:1; padding:.4em .3em; font-size:1.2em; text-decoration:none; border-top:1px dotted #FFF; border-bottom:1px dotted #FFF;}
        div#csumGroups ul li a:hover {background-color:#EEE; border-top:1px dotted #CCC; border-bottom:1px dotted #CCC;}

        div#csumGroupEditor {padding:0 1em;}

        .submitBttn {width:auto; margin:0 .3em;}
        #groupToAdd {width:220px;}
    </style>

    #parse ( "/templates/permissionmgmt/action-messages.vm" )

    #if($isPluginConfigurationDone)

    <table border="0" width="100%" cellpadding="5" cellspacing="0">
    <tr><td width="165" valign="top">

        #parse( "/templates/permissionmgmt/group-list.vm" )

    </td>
    <td valign="top">
        
        #if(${action.selectedGroup})
		    <h3>Users in Group '${action.selectedGroup}'</h3>



            #if($action.userSearch)

                Other options: <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}">Basic Form/List Users</a>
                                            		        
		        #parse ( "/templates/permissionmgmt/manage-users-advanced.vm" )
		    #else

                Other options: <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&userSearch=1">Advanced Form/Search and Add</a>

		        #parse ( "/templates/permissionmgmt/manage-users-basic.vm" )
		        
		    #end
        #end        
    #else
        #if($customPermissionConfiguration.pluginDown == "yes")
            $customPermissionConfiguration.downTimeMessage
		#else
		    <p>An administrator must configure "Custom Space Usergroups Manager" before you start using it.</p>
		#end
    #end

    #parse ( "/admin/admin-breadcrumbs.vm" )
    </td></tr>
    </table>

    <div style="clear:both;"></div>

#end

<!-- end display -->

</body>
</html>