## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

<!-- start display -->
<html>
    <head>
        <title>$action.getActionName($action.getClass().getName())</title>

        ##TODO: Make links relative
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-custom-usermanagement") ##note this should be same as item.key defined in atlassian-plugin.xml
        #decoratorParam("mode" "view-edit-spaceusergroups")
        
            <content tag="spacekey">$action.space.key</content>
    #set( $contextPath = "/customspacemgmt/permissions/custompermissionsmanage.action?key=${key}&" )

    <body>

    <style>
        div#csum {text-align:left; margin:15px 0 0 0; padding:0em; color:#333;}
        div#csum h3 {color:#333; margin: 0; padding:.3em .5em; border-bottom: 1px solid #CCC;}
        div#csum a img {border:none;}

        div#csum div#topMessages {display:block; clear:both;}
        div#csum div#topMessages ul {list-style:none;}
        div#csum div#topMessages ul li {display:block; clear:both; padding.5em; margin:1em .5em;}
        div#csum div#topMessages ul li.successMessage {background-color:#DDFFDD;}

        div#csum div#csumHeader {margin:0;}

        div#csum form {margin:0; padding:0;}
		div#csum form fieldset {border:none; padding:none; margin:none;}
		div#csum form input {margin:.5em 0; padding:0; font-size:1.2em; width:100%;}
		div#csum form label {font-size:1.1em;}
		div#csum form .submitBttn {width:auto; margin:0 .3em;}

        div#csum div#csumGroups {margin-left:8px; padding-right:5px; float: left; width:300px;}
		div#csum div#csumGroups table {border-collapse: separate; border-spacing: 0; width:100%; text-align:left;}
		div#csum div#csumGroups table tr td {}
		div#csum div#csumGroups table tr td a {display:block; line-height:1; margin:.4em .4em; font-size:.9em; text-decoration:none;}
		div#csum div#csumGroups table tr td a img {margin:2px 3px;}

		div#csum div#csumGroupsEditor {padding-left:5px; border-left: 3px solid #DDD; float:left;}

		div#csum div#csumGroupsEditor table {width:100%;}
		div#csum div#csumGroupsEditor table tr {}
		div#csum div#csumGroupsEditor table tr th {font-size:1.1em; font-weight:bold; text-align:left; padding:0 .7em;}
		div#csum div#csumGroupsEditor table tr td {display:block; line-height:1; margin:.4em .4em; font-size:.9em; text-decoration:none; padding:0 .7em;}
		div#csum div#csumGroupsEditor table tr td a {display:block; line-height:1; margin:.4em .4em; font-size:.9em; text-decoration:none;}
		div#csum div#csumGroupsEditor table tr td a img {margin:2px 3px;}

        .even {background-color:#F0F0F0;}
        .icon {margin:0 .5em;}

        .current {border:1px solid red;}

    </style>

<div id="csum">
    #parse ( "/templates/permissionmgmt/action-messages.vm" )

    #if($isPluginConfigurationDone)
        <div id="csumGroups">
            #parse( "/templates/permissionmgmt/group-list.vm" )
        </div>

        #if(${action.selectedGroup})
        <div id="csumGroupsEditor">
		    <h3>Edit ${action.selectedGroup}:</h3>

            #if($action.userSearch)
                #parse ( "/templates/permissionmgmt/manage-users-advanced.vm" )
                Other options: <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}">Basic Form/List Users</a>
		    #else
		        #parse ( "/templates/permissionmgmt/manage-users-basic.vm" )
		        Other options: <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&userSearch=1">Advanced Form/Search and Add</a>
		    #end
        </div>
        #end
    #else
        #if($customPermissionConfiguration.pluginDown == "yes")
            <p class="infoMacro">$customPermissionConfiguration.downTimeMessage</p>
		#else
		    <p class="noteMacro">An administrator must configure "Custom Space Usergroups Manager" before you start using it.  Plugins can be configured from the Administration &gt; <a href="/confluence/admin/plugins.action" alt="Plugin Manager">Plugin Manager</a> page.</p>
		#end
    #end

    #parse ( "/admin/admin-breadcrumbs.vm" )

    <div style="clear:both;"></div>
#end
</div>
<!-- end display -->

</body>
</html>