
             	## Provide pagerAction links for groups
			<div class="paging">
                #if ($action.selectedGroup)
	                    #if($action.hasPrev($groups))
	                    <span class="prev">
	                        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&pagerAction=prevPageGroups">&laquo; Prev</a>
	                    </span>
	                    #end

	                    #if($action.hasNext($groups))
	                    <span class="next">
	                        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&pagerAction=nextPageGroups">Next &raquo;</a>
	                    </span>
	                    #end

	                    #if(${action.groups})
	                    <span class="count">
	                        Groups $!{groups.startIndex}-$!{action.pageEndIndex($groups)} of $!{groups.total}
	                    </span>
	                    #end
                #else

	                    #if($action.hasPrev($groups))
	                    <span class="prev">
	                        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&pagerAction=prevPageGroups">&laquo; Prev</a>
	                    </span>
	                    #end

	                    #if($action.hasNext($groups))
	                    <span class="next">
	                        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&pagerAction=nextPageGroups">Next &raquo;</a>
	                    </span>
	                    #end

	                    #if(${action.groups})
	                    <span class="count">
	                        Groups $!{groups.startIndex}-$!{action.pageEndIndex($groups)} of $!{groups.total}
	                    </span>
	                    #end
                #end
			</div>