## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

            <!-- start group-list -->

            #set ($groups = ${action.groups})
            <div class="sectionHeader">
				#*
                <div class="mode"><a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&refresh=1">$action.getText("refresh")</a></div>
                *#
				<h2>$generalUtil.htmlEncode(${action.space.name}) ($generalUtil.htmlEncode($action.space.key)) Groups:</h2>
            </div>

            #if($groups && $groups.total>0)
            <ul>
                ## List groups using Pager
                #foreach ($group in $groups.page)
                <li>
                    <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($group.name)" #if($group.name == $action.selectedGroup) class="selected" #end>$generalUtil.htmlEncode($!group.name)</a>
                </li>
                #end
            </ul>
            <div style="text-align: center">
                #parse ( "/templates/permissionmgmt/group-pager-actions.vm" )
            </div>
            #else
                <p>There are currently no groups with rights to view space '$generalUtil.htmlEncode($key)' and matching the group name pattern '$generalUtil.htmlEncode($action.spacePattern)' defined for this space in the plugin configuration.</p>
                <p>$action.getText("error.needToAddGroups")</p>
            #end

            #if(${action.isGroupActionsPermitted})
            <form method="POST" action="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)" id="addGroupForm" name="AddGroupForm">
                <fieldset>
                    <input type="hidden" name="adminAction" value="addGroups"/>
                    <label for="addGroups">$action.getText("add") $action.getText("group")</label>
                    <input type="text" name="groups" id="groups" ></input>

                    <ul class="formHelp">
                        <li>$action.getText("example.add.group.text") "$generalUtil.htmlEncode($action.newGroupPrefix)$action.getText("example.add.group.name")$generalUtil.htmlEncode($action.newGroupSuffix)"</li>
                    </ul>

                    <label class="scndryInpt" for="addGroup">With Users (optional):</label>
                    <input id ="users" name="users" type="text" /></input>

                    <input type="submit" class="submitBttn" value="Add Group(s)"></input>
                </fieldset>
            </form>
            #end

##START TEST ONLY!
##TODO: Remove this test section and supporting method in action before release
##<a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&createTestUsersAndGroups=1">create test users and groups</a>
##END TEST ONLY!

            <!-- end group-list -->
        