## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

        <!-- start group-list -->
        <div class="navmenu">
            <div class="menuheading">Groups in Space '$action.space.key'</div>
            ##<h3>$action.space.name ($action.space.key)</h3>
            #set ($groups = $action.groups)

            #if($isGroupActionsPermitted)

		    <form method="POST" action="docustompermissionsmanage.action?key=${key}" id="groupManagement" name="AddGroupForm">
                <input type="hidden" name="adminAction" value="addGroup"/>
                <input type="text" name="groupToAdd" id="groupToAdd" />
                <input type="submit" value="Add Group"/>
                <br/><span class="smalltext">Entering "widget" will create the group "${action.newGroupPrefix}widget${action.newGroupSuffix}"</span>
            </form>
            #end

            #if($groups && $groups.size() > 0 )
            <table width="100%">
                #foreach ($group in $groups)
                <tr style=" #if ($velocityCount % 2 == 0) background: #f0f0f0; #end">
                    <td>
                        &nbsp;
                        <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=$group.name"><img src="/confluence/images/icons/group_16.gif"></a>
                        <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=$group.name">$!group.name</a>
                    </td>
                    #if($isGroupActionsPermitted)
                    <td>
                        <a href="docustompermissionsmanage.action?key=${key}&adminAction=removeGroup&groupToRemove=$!group.name">
                            <img border="0" alt="Remove $!group.name" src="/confluence/images/icons/trash_16.gif"/>
                        </a>
                    </td>
                    #end
                </tr>
                #end
            </table>
            <br/>
                #if($isGroupActionsPermitted)

                <div class="menuheading">Security</div>
                <div class="menuitems">
                    <div class="optionPadded">
                        <a href="/confluence/spaces/spacepermissions.action?key=ds"><img src="/confluence/images/icons/lock_16.gif" title="Permissions"></a>
                        <a href="/confluence/spaces/spacepermissions.action?key=ds">Permissions</a>
                    </div>
                    <div class="optionPadded">
                        <a href="/confluence/pages/listpermissionpages.action?key=ds"><img src="/confluence/images/icons/locked_pages_16.gif" title="Restricted Pages"></a>
                        <a href="/confluence/pages/listpermissionpages.action?key=ds">Restricted Pages</a>
                    </div>
                </div>

                #end
            #end
        </div>
        <!-- end group-list -->
        