## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

<!-- start group-list -->

        <div class="sectionHeader">
            <div class="mode">
            &raquo; <a href="docustompermissionsmanage.action?key=${key}&bulkEdit=1">Bulk Change Tool</a><br/>
            &raquo; <a href="docustompermissionsmanage.action?key=${key}&userSearch=1">Search Users</a><br/>
            </div>
            <h2>${action.space.name} ($action.space.key) Groups:</h2>
        </div>

            #set ($groups = ${action.groups})

            #if($groups)
            <ul>
                ## List groups using Pager
                #foreach ($group in $groups.page)
                <li>
                    <a href="docustompermissionsmanage.action?key=${key}&selectedGroup=$group.name" #if($group.name == $action.selectedGroup) class="selected" #end>$!group.name</a>
                </li>
                #end
            </ul>
            <div style="text-align: center">
                #parse ( "/templates/permissionmgmt/group-pager-actions.vm" )
            </div>

            #if(${action.isGroupActionsPermitted})
            <form method="POST" action="docustompermissionsmanage.action?key=${key}" id="addGroupForm" name="AddGroupForm">
                <fieldset>
                    <input type="hidden" name="adminAction" value="addGroups"/>
                    <label for="addGroups">Add Group:</label>
                    <input type="text" name="groups" id="groups" ></input>

                    <ul class="formHelp">
                        <li>eg. entering Duke-Presidents will create the group "${action.newGroupPrefix}Duke-Presidents${action.newGroupSuffix}"</li>
                    </ul>

                    <label class="scndryInpt" for="addGroup">With Users:</label>
                    <input id ="users" name="users" type="text" /></input>

                    <ul class="formHelp">
                        <li>(optional)</li>
                    </ul>

                    <input type="submit" class="submitBttn" value="Add Group(s)"></input>
                </fieldset>
            </form>
            #end

			#else 
                <p>There are currently no groups that match both of the following criteria:</p>
                <ul>
                  <li>Group has rights to view space '${key}' <b>and</b></li>
                  <li>Group has name matching the group name pattern defined for this space in the plugin configuration: '${action.spacePattern}'.</li>
                </ul>

                <p>If you feel that groups should be displayed here or are not sure what to do, then check with the system
                administrator to verify that the group name pattern, group name prefix, and group name suffix are
                correct.</p>

                <p>If you have never used this interface before, you probably have nothing to worry about and can go along
                your merry way adding groups and managing users in them.</p>
            #end

            #set($availableSpaces = $action.spacesAsSpaceAdminForUser)
            #if($availableSpaces && $availableSpaces.size()>1)
            <form method="GET" action="docustompermissionsmanage.action" id="changeSpace" name="changeSpace">
                <fieldset>
                    <label>Change space: </label>
                    <select name="key">
                        #foreach ($availableSpace in $availableSpaces)
                        <option value="$availableSpace.key" #if($availableSpace.key==$action.space.key)selected="true"#end>$availableSpace.name ($availableSpace.key)</option>
                        #end
                    </select>
                </fieldset>
                <fieldset>
                    <input type="submit" value="Change Space" class="submitBttn"/>
                </fieldset>
            </form>
            #end

##START TEST ONLY!
##TODO: Remove this test section and supporting method in action before release
<a href="docustompermissionsmanage.action?key=${key}&createTestUsersAndGroups=1">create test users and groups</a>
##END TEST ONLY!

 <!-- end group-list -->
        