## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

            <!-- start manage-users-basic -->
            #set ($users = $action.findUsers(${action.selectedGroup}))

            #if($users && $users.size() > 0)
                <table cellspacing="0">                
                    <tr>
                        <th>Name</th>
                        <th>NetID</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                #foreach ($user in $users)
                    #set ($userFullName = $user.getFullName())
                    #set ($userName = $user.getName())
                    #set ($userEmail = $user.getEmail())
                    <tr #if ($velocityCount % 2 == 0) class="even" #end>
                        <td><img class="icon" src="${action.confluenceRoot}/images/icons/user_16.gif"/>$!userFullName</td>
                        <td>$!userName</td>
                        <td><a href="mailto:$!userEmail" alt="Send email to $!userName">$!userEmail</a></td>
                        <td align="center"><a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&adminAction=removeUsersFromGroup&usersToRemove=$!userName"><img alt="Remove $!userName from  group ${action.selectedGroup}" src="${action.confluenceRoot}/images/icons/trash_16.gif"/></a></td>
                    </tr>
                #end
                </table>
            #else
                No users found in group.
            #end

#*
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/yahoo/yahoo-min.js" ></script>
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/event/event-min.js" ></script>
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/element/element-beta-min.js"></script>
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/connection/connection-min.js"></script>
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/animation/animation-min.js"></script>
            <script type="text/javascript" src="http://www.json.org/json.js"></script>
            <script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/autocomplete/autocomplete-min.js"></script>
*#

            <form method="POST" action="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}" id="groupManagement" name="ManageUsersForm">
                <table>
                    <tr>
                        <td>
                            <input type="hidden" name="adminAction" value="addUsersToGroup"/>
                            <input type="text" id="myInput" name="usersToAdd"/>
                            ## TODO: use Ajax and $action.findUsersWhoseNameStartsWith(partialName) to prepopulate as you type...
                        </td>
                        <td>
                            <input type="submit" value="Add User(s)"/>
                        </td>
                    </tr>
                    <tr><td><span class="smalltext">eg. rb04, nk93, kb85, ts69</span></td></tr>
                </table>
#*
                <div id="myContainer"></div>
*#
            </form>
#*
        <script type="text/javascript">
            var myArray = ["Abbey", "Bob", "Carol", "Deb", "David", "Ed", "Fred", "George", "Heidi", "Ingrid", "Joe", "James", "Jack", "Jordan", "Jackie", "Jim", "John", "Jake", "Jill", "Jess", "Jessica", "June", "Jan", "Jane", "Jason", "Josh", "Jack", "Jessie", "Ken", "Kevin", "Kathy", "Kelly", "Kim", "Lenny", "Larry", "Lars", "Matt", "Meredith", "Meg", "Molly", "Mark", "Martin", "Manny", "Mable", "Marge" ];

            var myDataSource = new YAHOO.widget.DS_JSArray(myArray);
            var myAutoComp = new YAHOO.widget.AutoComplete("myInput", "myContainer", myDataSource);
            myAutoComp.maxResultsDisplayed = 8;
            myAutoComp.minQueryLength = 2;
            myAutoComp.typeAhead = true;
            myAutoComp.delimChar = [",",", "];
        </script>
*#
             <p>
                Manage User Permissions:
                <a href="${action.confluenceRoot}/spaces/spacepermissions.action?key=${key}">Space</a>,
                <a href="${action.confluenceRoot}/pages/listpermissionpages.action?key=${key}">Page-Level</a>
             </p>

            <!-- end manage-users-basic -->
