## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

            <!-- start manage-users-advanced -->

        #if($action.selectedGroup)

            #set ($users = $action.users)


            <div class="sectionHeader">
                #*
				#if(${action.isGroupActionsPermitted})
				<div class="mode">
			        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&adminAction=removeGroup&groupToRemove=$generalUtil.doubleUrlEncode($action.selectedGroup)"><img src="${action.confluenceRoot}/images/icons/trash_16.gif" /> $action.getText("delGroup") ${action.selectedGroup}</a>
			    </div>
			    #end
			    *#
				<h2>$action.getText("wiki.name") $action.getText("user.search") #* ${action.selectedGroup} *#</h2>
			</div>

            <div id="advancedUserSearchForm">
#*
		    <font size="1">
            	Note: Leave field(s) blank if you don&quot;t want to search on them.
            </font>
*#
            #if(${action.selectedGroup})
            <a id="hideAdvS" href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)">&laquo; $action.getText("return.editing") ${action.selectedGroup}</a>
            #end

            <form method="POST" action="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&userSearch=1" id="groupManagement" name="ManageUsersForm">
                <input type="hidden" name="adminAction" value="advancedFindUsers"/>
                <fieldset>
                    #fielderror ('advancedSearch')
                    <label>$action.getText("form.label.findUserWhere"): </label>
                    <select name="lookupType">
                        <option value="$action.usernameLookupType" selected="selected">$action.getText("username")</option>
                        <option value="$action.fullNameLookupType">$action.getText("fullname")</option>
                        <option value="$action.emailLookupType">$action.getText("email")</option>
                        <option value="$action.groupnameLookupType">$action.getText("groupname")</option>
                    </select>
                    <select name="substringMatchType">
                        <option value="$action.substringStartsWith" selected="selected">$action.getText("startsWith")</option>
                        <option value="$action.substringContains">$action.getText("contains")</option>
                        <option value="$action.substringEndsWith">$action.getText("endsWith")</option>
                    </select>
                    <input type="text" id="partialSearchTerm" name="partialSearchTerm"/>
                </fieldset>
                <fieldset>
                    <input type="submit" value="Find Users" class="submitBttn"/>
                </fieldset>
            </form>

            #if(${action.userSearchFormFilled})
                #if($users || $users.total > 0)
                <div class="srchResInfo">$users.total users found</div>
                <table width="100%" cellspacing="0">
                    <tr>
                        <th>$action.getText("fullname")</th>
                        <th>$action.getText("username")</th>
                        <th>$action.getText("email")</th>
                        #*<th>$action.getText("isMember")</th>*#
                        <th>$action.getText("add") / $action.getText("remove") $action.getText("from") <br /> $action.selectedGroup</th>
                    </tr>
                    #foreach ($user in $users.page)
                        #set ($userFullName = $generalUtil.htmlEncode($user.getFullName()))
                        #set ($userName = $generalUtil.htmlEncode($user.getName()))
                        #set ($userEmail = $generalUtil.maskEmail($user.getEmail()))
                    <tr style=" #if ($velocityCount % 2 == 0) background: #f0f0f0; #end">
                        <td><img class="icon" src="${action.confluenceRoot}/images/icons/user_16.gif">$!userFullName</td>
                        <td>$!userName</td>
                        <td>$!userEmail</td>
                        #if($action.isMemberOfSelectedGroup($!userName))
                        #*<td><img alt="$!userName is a member of group $!{action.selectedGroup}" src="${action.confluenceRoot}/images/icons/emoticons/check.gif"/></td>*#
                        <td><a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&adminAction=removeUsersFromGroups&groups=$!{action.selectedGroup}&users=$!userName"><img border="0" alt="Remove $!userName from group ${action.selectedGroup}" src="${action.confluenceRoot}/images/icons/trash_16.gif"/></a></td>
                        #else
                        #*<td><img alt="$!userName is NOT a member of group $!{action.selectedGroup}" src="${action.confluenceRoot}/images/icons/emoticons/error.gif"/></td>*#
                        <td><a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&adminAction=addUsersToGroups&groups=$!{action.selectedGroup}&users=$!userName"><img border="0" alt="Add $!userName to group ${action.selectedGroup}" src="${action.confluenceRoot}/images/icons/add_16.gif"/></a></td>
                        #end
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div style="text-align: center">
#parse ( "/templates/permissionmgmt/user-pager-actions.vm" )
                            </div>
                        </td>
                    </tr>
                    #end
                </table>
#*
                <p>
                Manage User Permissions:
                <a href="/spaces/spacepermissions.action?key=$generalUtil.doubleUrlEncode($key)">Space</a>,
                <a href="/pages/listpermissionpages.action?key=$generalUtil.doubleUrlEncode($key)">Page-Level</a>
                </p>
*#
                #else
                $action.getText("noUsersFound")
                #end
            #end

        #end
            <!-- end manage-users-advanced -->