## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

            <!-- start manage-users-advanced -->

            #set ($users = $action.users)


            <div class="sectionHeader">
                #*
				#if(${action.isGroupActionsPermitted})
				<div class="mode">
			        <a href="docustompermissionsmanage.action?key=${key}&adminAction=removeGroup&groupToRemove=${action.selectedGroup}"><img src="${action.confluenceRoot}/images/icons/trash_16.gif" /> Delete Group ${action.selectedGroup}</a>
			    </div>
			    #end
			    *#
				<h2>DukeWiki User Search #* ${action.selectedGroup} *#</h2>
			</div>

            <div id="advancedUserSearchForm">
#*
		    <font size="1">
            	Note: Leave field(s) blank if you don&quot;t want to search on them.
            </font>
*#
            #if(${action.selectedGroup})
            <a id="hideAdvS" href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}">&laquo; Return to editing ${action.selectedGroup}</a>
            #end

            <em>Note: Unless wiki is <a href="http://confluence.atlassian.com/display/DOC/How+to+Improve+User+Search+Performance">configured properly</a>, user search can be unusably slow with lots of users.</em>  
            
		    <form method="POST" action="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&userSearch=1" id="groupManagement" name="ManageUsersForm">
                <input type="hidden" name="adminAction" value="advancedFindUsers"/>
                <fieldset>
                    #fielderror ('advancedSearch')
                    <label>Find user where: </label>
                    <select name="lookupType">
                        <option value="$action.usernameLookupType" selected="selected">Username</option>
                        <option value="$action.fullNameLookupType">Full name</option>
                        <option value="$action.emailLookupType">Email</option>
                        <option value="$action.groupnameLookupType">Groupname</option>
                    </select>
                    <select name="substringMatchType">
                        <option value="$action.substringStartsWith" selected="selected">Starts With</option>
                        <option value="$action.substringContains">Contains</option>
                        <option value="$action.substringEndsWith">Ends With</option>
                    </select>
                    <input type="text" id="partialSearchTerm" name="partialSearchTerm"/>
                </fieldset>
                <fieldset>
                    <input type="submit" value="Find Users" class="submitBttn"/>
                </fieldset>
            </form>

            #if(${action.userSearchFormFilled})
                #if($users || $users.total > 0)
                $users.total users found
                <table width="100%">
                    <tr>
                        <th class="permissionSuperTab">Full Name</th>
                        <th class="permissionSuperTab">Username</th>
                        <th class="permissionSuperTab">Email</th>
                        <th align="left" class="permissionSuperTab" valign="top">Is Member</th>
                        <th class="permissionHeading">&nbsp;</th>
                    </tr>
                    #foreach ($user in $users.page)
                        #set ($userFullName = $user.getFullName())
                        #set ($userName = $user.getName())
                        #set ($userEmail = $user.getEmail())
                    <tr style=" #if ($velocityCount % 2 == 0) background: #f0f0f0; #end">
                        <td><img class="icon" src="/confluence/images/icons/user_16.gif">$!userFullName</td>
                        <td align="left" class="permissionCell" valign="top">$!userName</td>
                        <td align="left" class="permissionCell" valign="top">$!userEmail</td>
                        #if($action.isMemberOfSelectedGroup($!userName))
                        <td align="left" class="permissionCell" valign="top"><img alt="$!userName is a member of group $!{action.selectedGroup}" src="/images/icons/emoticons/check.gif"/></td>
                        <td align="left" class="permissionCell" valign="top"><a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&adminAction=removeUsersFromGroups&groups=$!{action.selectedGroup}&users=$!userName"><img border="0" alt="Remove $!userName from group ${action.selectedGroup}" src="/images/icons/trash_16.gif"/></a></td>
                        #else
                        <td align="left" class="permissionCell" valign="top"><img alt="$!userName is NOT a member of group $!{action.selectedGroup}" src="/images/icons/emoticons/error.gif"/></td>
                        <td align="left" class="permissionCell" valign="top"><a href="docustompermissionsmanage.action?key=${key}&selectedGroup=${action.selectedGroup}&adminAction=addUsersToGroups&groups=$!{action.selectedGroup}&users=$!userName"><img border="0" alt="Add $!userName to group ${action.selectedGroup}" src="/images/icons/logo_add_16.gif"/></a></td>
                        #end
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div style="text-align: center">
#parse ( "/templates/permissionmgmt/user-pager-actions.vm" )
                            </div>
                        </td>
                    </tr>
                    #end
                </table>
                <p>
                Manage User Permissions:
                <a href="/spaces/spacepermissions.action?key=${key}">Space</a>,
                <a href="/pages/listpermissionpages.action?key=${key}">Page-Level</a>
                </p>
                #else
                No users found meeting search criteria.
                #end
            #end
            <!-- end manage-users-advanced -->