## Copyright (c) 2006, Rajendra Kadam
## All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are
## met:
##
## Redistributions of source code must retain the above copyright notice,
## this list of conditions and the following disclaimer.  Redistributions
## in binary form must reproduce the above copyright notice, this list of
## conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.  Neither the name of
## Cenqua Pty Ltd nor the names of its contributors may be used to
## endorse or promote products derived from this software without
## specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

            <!-- start manage-users-basic -->

        #if($action.selectedGroup)

            <div class="sectionHeader">				
				<div class="mode">
					<a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&refresh=1">
						$action.getText("refresh")</a>
			    </div>
				<h2>$action.getText("editGroup.title") $generalUtil.htmlEncode(${action.selectedGroup})</h2>
				#if(${action.isGroupActionsPermitted})
				<a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&adminAction=removeGroups&groups=$generalUtil.doubleUrlEncode($action.selectedGroup)"><img src="${action.confluenceRoot}/images/icons/trash_16.gif" /> $action.getText("delGroup") ${action.selectedGroup}</a>
				#end
			</div>

            #if($action.isUserSearchEnabled)
            <a id="showAdvS" href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&userSearch=1">&raquo; $action.getText("wiki.name") $action.getText("directorySearch")</a>
            #end

            <form method="POST" action="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)" id="addUsersForm" name="ManageUsersForm">
                <fieldset>
                    <input type="hidden" name="adminAction" value="addUsersToGroups"/>
                    <input type="hidden" name="groups" value="$action.selectedGroup"/>
                    <label for="users">$action.getText("form.label.add.users") ${action.selectedGroup}:</label>
                    <input type="text" style="width:100%;" id="users" name="users"/>
                    ##<div id="addUserOpts"></div>
					<ul class="formHelp">
						<li>$action.getText("form.example.commaSeparatedUsernames.text")</li>
						<!-- <li>eg. Richard Broadhead, Nan Keohane, Keith Brodie, Terry Sanford</li> -->
						<li>$action.getText("form.example.commaSeparatedUsernames")</li>
					</ul>
                    ## TODO: use Ajax and $action.findUsersWhoseNameStartsWith(partialName) to prepopulate as you type...
                    ## var quotedCommaSpaceDelimitedUsers = [$action.findUsersWhoseNameStartsWith("whatever", 5)];
                    <input type="submit" value="Add User(s)" class="submitBttn"/>
                </fieldset>
            </form>

            #set ($users = $action.users)

            #if($users)
                <table cellspacing="0">                
                    <thead>
						<tr>
							<th>$action.getText("fullname")</th>
							<th>$action.getText("username")</th>
							<th>$action.getText("email")</th>
							<th align="center">$action.getText("remove")</th>
						</tr>
					</thead>
					<tbody>

					$action.logPps($users)

                #foreach ($user in $users.page)
                    #set ($userFullName = $generalUtil.htmlEncode($user.getFullName()))
                    #set ($userName = $generalUtil.htmlEncode($user.getName()))
                    #set ($userEmail = $generalUtil.maskEmail($user.getEmail()))
                    <tr #if ($velocityCount % 2 == 0) class="even" #end>
                        <td><img class="icon" src="${action.confluenceRoot}/images/icons/user_16.gif"/>$!userFullName</td>
                        <td>$!userName</td>
                        <td><a href="mailto:$!userEmail" alt="Send email to $!userName">$!userEmail</a></td>
                        <td class="delete"><a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&adminAction=removeUsersFromGroups&groups=$!action.selectedGroup&users=$!userName"><img alt="Remove $!userName from group ${action.selectedGroup}" src="${action.confluenceRoot}/images/icons/trash_16.gif"/></a></td>
                    </tr>
                #end
                    </tbody>
                </table>

                #parse ( "/templates/permissionmgmt/user-pager-actions.vm" )
            #else
                $action.getText("noUsersFoundInGroup")
            #end            
        #end
        
            <!-- end manage-users-basic -->
