                ## Provide pagerAction links for users

                #if ($action.selectedGroup && $users)
<div class="paging">
                    #if($action.hasPrev($users))
                    <span class="prev">
                        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&pagerAction=prevPageUsers">&laquo; Prev</a>
                    </span>
                    #end
                    #if($action.hasNext($users))
                    <span class="next">
                        <a href="docustompermissionsmanage.action?key=$generalUtil.doubleUrlEncode($key)&selectedGroup=$generalUtil.doubleUrlEncode($action.selectedGroup)&pagerAction=nextPageUsers">Next &raquo;</a>
                    </span>
                    #end
                    #if(${action.groups})
                    <span class="count">
                        Users $!{users.startIndex}-$!{action.pageEndIndex($users)} of $!{users.total}<br/>

                        #if($users.total > $users.countOnEachPage)
                        <form action="docustompermissionsmanage.action">
	                    <fieldset>
	                    <input type="hidden" name="key" value="$generalUtil.doubleUrlEncode($key)"/>
	                    <input type="hidden" name="selectedGroup" value="$generalUtil.doubleUrlEncode($action.selectedGroup)"/>
                        <input type="hidden" name="pagerAction" value="skipToUser"/>
                        <input type="submit" class="submitBttn" id="skipToUserBtn" name="skipToUserBtn" value="Skip to"/><input type="text" name="recordNum"/>
                        </fieldset>
                        </form>
                        #end
                    </span>
                    #end
</div>
                #end